---
import Profile from "@components/Profile.astro";
---

<section profile-list>
  <Profile icon="7rs" name="Cbrnex" href="https://github.com/7rs" title="GitHub Profile" lang="en" openInNewTab>
    An engineer and TASer
  </Profile>
  <Profile icon="74" name="74" href="https://github.com/74gg" title="GitHub Profile" lang="en" openInNewTab>
    Organization for gamers
  </Profile>
  <Profile icon="pages-icon" name="Pages" href="https://github.com/7rs/pages" title="GitHub Profile" lang="en" openInNewTab>
    Fast and simple website
  </Profile>
</section>

<style lang="stylus">
  @import "../../../styles/api.styl"

  [profile-list]
    width 100%
    display grid
    gap 1rem
    grid-template-rows 1fr
    grid-template-columns 1fr
    @media screen and (min-width widths.large)
      grid-template-columns repeat(3, 1fr)
</style>
