root = true

[*.md, *.mdx]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.astro, *.ts, *.mjs]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true