# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
*log*

# environment variables
.env*

# specific files
.DS_Store
*.Identifier

# config files
.git/
.vscode/*
!.vscode/extensions.json