{
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 2,
    "singleQuote": false,
    "semi": true,
    "endOfLine": "lf",
    "options.editorconfig": true,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-stylus", "prettier-plugin-svelte"],
    "astroAllowShorthand": false,
    "overrides": [
        {
            "files": [".prettierrc", "*.json"],
            "options": {
                "parser": "json",
                "tabWidth": 4
            }
        },
        {
            "files": [
                "*.js",
                "*.jsx",
                "*.test.js",
                "*.ts",
                "*.test.ts",
                "*.tsx",
                "*.svelte",
                "*.mjs",
                "*.*.mjs",
                "*.cjs",
                "*.*.cjs",
                "astro.config.mjs",
                "postcss.config.mjs"
            ],
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": ["*.styl"],
            "options": { "trailingComma": "all" }
        }
    ]
}
