{
    "printWidth": 120,
    "tabWidth": 2,
    "astroSkipFrontmatter": true,
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
