{
    "plugins": ["prettier-plugin-astro", "prettier-plugin-stylus", "prettier-plugin-svelte"],
    "astroAllowShorthand": false,
    "printWidth": 120,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "endOfLine": "lf",
    "options.editorconfig": true,
    "overrides": [
        {
            "files": [".prettierrc", "*.json"],
            "options": {
                "parser": "json",
                "tabWidth": 4
            }
        },
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        },
        {
            "files": "*.styl",
            "options": {
                "parser": "stylus"
            }
        },
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
