---
import defualtLogo from "@icons/logov2.svg";

export interface Props {
  logo?: ImageMetadata;
}

const { logo = defualtLogo, ...props } = Astro.props;

const logoURL = `url(${logo.src})`;
---

<div gradient-logo></div>

<style lang="stylus" define:vars={{logoURL}}>
  @import "../../styles/api.styl"

  [gradient-logo]
    overflow-x clip
    z-index 0
    position relative
    display block
    margin 0 auto
    // Responsive
    height 15rem
    width 15rem
    @media screen and (min-width widths.medium)
      height 20rem
      width 20rem
    @media screen and (min-width widths.large)
      height 15rem
      width 15rem
    @media screen and (min-width widths.largest)
      height 20rem
      width 20rem

    // Mask
    mask-image var(--logoURL);
    mask-size 100%
    mask-repeat no-repeat
    mask-position center

    &::after, &::before
      set-absolute()

    &::after
      z-index -1
      opacity 0.5
      background linear-gradient(135deg,
        rgba(255,128,128,1) 0%,
        rgba(255,160,128,1) 17%,
        rgba(255,224,128,1) 33%,
        rgba(128,255,224,1) 50%,
        rgba(128,224,255,1) 67%,
        rgba(176,160,255,1) 83%,
        rgba(224,160,255,1) 100%);
      animation 2s linear 0s infinite reverse forwards running rotate

    &::before
      z-index -2
      background-image repeating-conic-gradient(
        rgba(126, 126, 126, 0.2) 0deg, 
        rgba(240, 240, 255, 1) 36deg, 
        transparent 72deg);
      background-color white;
      animation 7.5s linear 0s infinite normal forwards running rotate

  /* animation
    duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name 
  */
  @keyframes rotate 
    0%
      transform rotate(0)
    100% 
      transform rotate(360deg)
</style>
