---
import { Icon } from "astro-icon/components";

export interface Props {}
---

<section>
  <article id="open-source">
    <hgroup>
      <h2>Open Source</h2>
      <p>Pages is FLOSS. Do what you love.</p>
    </hgroup>
    <div>
      <Icon name="cib:creative-commons-zero" />
      <Icon name="octicon:law-24" />
      <pre>
        <code>git clone git@github.com:7rs/pages.git --depth 1</code>
        <code>pnpm install</code>
      </pre>
    </div>
    <a>About License</a>
  </article>

  <article>
    <hgroup>
      <h2>Amazing Speed</h2>
      <p>Create fast websites quickly and easily without costs.</p>
    </hgroup>
    <a>Check Benchmark</a>
  </article>

  <article>
    <hgroup>
      <h2>Readable</h2>
      <p>Goodbye <div>hell. And hello, semantics elements named by attributes.</div></p>
      <div>
        <pre>
          <code></code>
        </pre>
      </div>
      <a>Source Code</a>
    </hgroup>

    <article>
      <hgroup>
        <h2>Flexible</h2>
        <p>
          Don't worry about !important and specificity. <br />You can define classes and choose your favorite CSS
          framework.
        </p>
      </hgroup>
      <a></a>
    </article>

    <article>
      <hgroup>
        <h2>Ecosystem</h2>
        <p>Pages doesn't have any ecosystems, but can use Astro and other framework ecosystems.</p>
      </hgroup>
      <a></a>
    </article>

    <article>
      <hgroup>
        <h2>For all users</h2>
        <p>Compatible with many browsers and devices. Pages makes happy everyone.</p>
      </hgroup>
      <a></a>
    </article>
    <article>
      <hgroup>
        <h2></h2>
        <p></p>
      </hgroup>
      <a></a>
    </article>
  </article>
</section>

<style lang="stylus">
  @import "../../../../styles/api.styl"

  article
    hgroup
      h2
        sans(2rem)
        text-align center
      p
        sans(1.25rem)
        text-align center

  article#open-source
    background-color white
</style>
