/* How to supports color scheme

  ```stylus
  color black
  @media (prefers-color-scheme dark)
    color white
  ```

  https://developer.mozilla.org/docs/Web/CSS/@media/prefers-color-scheme
*/

glassmorphism(border = true, radius = 16px, blur = 16px, background = true)
  backdrop-filter var(--glassmorphism-filter) blur(blur)
  if border
    border 2px solid rgba(240, 224, 255, 0.25)
    box-shadow 0 0 16px var(--glassmorphism-shadow)
  if radius
    border-radius radius
  if background
    background-image var(--glassmorphism-background)

$widget-glassmorphism
  glassmorphism(border: true, radius: 16px, blur: 16px)

$hoverable-widget-glassmorphism
  @extends $widget-glassmorphism
  transition all 300ms linear
  &:hover
    transition all 300ms linear
    border-color white
    color var(--content)
    backdrop-filter blur(4px) grayscale(100%)

$layout-glassmorphism
  glassmorphism(border: false, radius: null, blur: 24px)

$neontext-static
  background-clip text
  color transparent

neontext(text-color, shadow-color, shadow-strength = 8px)
  @extend $neontext-static
  background-image text-color
  filter drop-shadow(0 0 shadow-strength shadow-color)
