/* The font functions for unification.

The 3 font types used in Pages are `sans-serif`, `serif`, and `monospace`.

Alternates:
  - serif
  - sans-serif
  - monospace
  - cursive
  - fantasy
  - system-ui
  - ui-serif
  - ui-sans-serif
  - ui-monospace
  - ui-rounded
  - math
  - emoji
  - fangsong

References:
  https://developer.mozilla.org/en/docs/Web/CSS/font-family
  https://www.w3schools.com/cssref/css_websafe_fonts.php
*/

default-font-size = 1rem
golden-ratio = (1 + 5 ** 0.5) / 2


// https://fonts.google.com/?stroke=Sans+Serif&subset=latin
main-sans = "Fira Sans"
alternative-sans = "Trebuchet MS", "Verdana", "Arial", ui-sans-serif, sans-serif

// https://fonts.google.com/?stroke=Serif&subset=latin
main-serif = ""
alternative-serif = "Times New Roman", "Georgia", "Garamond", ui-serif, serif

// https://fonts.google.com/?subset=latin&classification=Monospace
main-mono = "Fira Code"
alternative-mono = "Courier New", ui-monospace, monospace

/* This function applys and resize `sans-serif`, `serif` or `monospace` fonts.

Arguments:
  size: Character size. (Default: 1rem)
        https://developer.mozilla.org/en/docs/Web/CSS/font-size
  height: Height of character display area. (Default: 1.5rem)
        https://developer.mozilla.org/en/docs/Web/CSS/line-height
*/

auto-line-height(size, _height = null)
  if _height
    line-height _height
  else
    line-height size * golden-ratio

set-family(type = "sans")
  if type == "sans"
    font-family main-sans, alternative-sans
  else if type == "serif"
    font-family alternative-serif
  else if type == "mono"
    font-family main-mono, alternative-mono

sans(size = default-font-size, height = null)
  font-size size
  set-family("sans")
  auto-line-height(size, height)

serif(size = default-font-size, height = null)
  font-size size
  set-family("serif")
  auto-line-height(size, height)

mono(size = default-font-size, height = null)
  font-size size
  set-family("mono")
  auto-line-height(size, height)

set-font(family = null, size = null, line-height = null, inline = true)
  text-size = 1rem
  if size == "normal"
    text-size = var(--normal-text-size)
  else if size == "label"
    text-size = var(--label-text-size)
  else if size == "input"
    text-size = var(--input-text-size)
  else if size == "heading"
    text-size = var(--heading-text-size)
  else if size == "heading-sub"
    text-size = var(--heading-sub-text-size)

  if inline
    if line-height == "auto"
      if size == null
        auto-line-height(text-size)
      else
        --text-size text-size
        line-height calc(var(--text-size) * var(--golden-ratio))
    else if line-height != null
      line-height line-height

    font-size text-size

    if set-family != null
      set-family(family)
  else
    width text-size
    height text-size
