---
import light from "@assets/light900.avif";
const lightBackground = `url(${light.src})`;
import Search from "@components/V2/Search.astro"
---

<!doctype html>
<html>
  <body>
    <header>
      <!-- <h1>pages header</h1> <div>filter</div> -->
      <Search></Search>
    </header>
    <main>
      <h1>hello</h1>
      <h2>7rs.dev</h2>
    </main>
    <footer><h1>pages header</h1></footer>
  </body>
</html>


<style lang="stylus" define:vars={{lightBackground}} is:global>
  @import "..//styles/api.styl"

  *
    padding 0
    margin 0

  body
    position relative
    box-sizing border-box
    min-height 100vh
    max-width 100%
    display flex
    flex-direction column
  
  body::before
    z-index -100
    position absolute
    width 100vw
    height 100vh
    top 0
    left 0
    content ""
    background var(--lightBackground) center/cover no-repeat fixed

  main
    z-index -2
    height 100%
    width 100%
    flex-grow 1

  main, header, footer
    box-sizing border-box
    padding 0.5rem calc((100% - 900px) / 2)

  header, footer
    position relative
    width 100%

    &::before
      z-index -1
      position absolute
      width 100%
      height 100%
      left 0
      top 0
      content ""
      backdrop-filter blur(8px)

  header
    top 0
    left 0

  footer
    bottom 0%
    left 0%

  main
    h1, h2
      background rgba(white, 0.4)
      backdrop-filter blur(8px)

  // div
  //   position absolute
  //   top 100%
  //   background rgba(white, 0.4)
  //   backdrop-filter blur(8px)
  //   width 300px
  //   height 100px
</style>
