---
import List from "@components/play/List.svelte";
---

<!doctype html>
<html lang="en">
  <body>
    <main>
      <h1>Hello, Sir.</h1>
      <List client:load />
      <h2>Do you want more animations?</h2>
    </main>
  </body>
</html>

<style lang="stylus">
  *
    margin 0
    padding 0

  html
    overflow clip auto
    width 100vw
    height 100vh
    background linear-gradient(135deg,
      rgba(0,0,0,1),
      rgba(34,34,34,1) 10%,
      rgba(68,68,68,1) 25%,
      rgba(136,136,136,1) 50%,
      rgba(255,255,255,1) 100%
    );

  body
    width 100vw

  h1
    line-height 3rem
    font-size 3rem
    margin 3rem 0
  
  h2
    line-height 2rem
    font-size 2rem
    margin 2rem 0

  main
    width 900px
    padding 1rem
    box-sizing border-box
    height 1000px
    margin 3rem auto
    background rgba(255, 255, 255, 0.3)
</style>
