/*
Tailwind CSS (https://tailwindcss.com/docs/responsive-design)
  - 640px
  - 768px
  - 1024px
  - 1280px
  - 1536px

Bulma (https://bulma.io/documentation/overview/responsiveness/)
  - 768px
  - 1024px
  - 1408px

Bootstrap (https://getbootstrap.com/docs/5.3/layout/breakpoints)
  - 576px
  - 768px
  - 992px
  - 1200px
  - 1400px

Widths less than 320px and more than 1200px are not supported.
*/
widths = {  
  small: 300px
  medium: 600px
  large: 900px
  largest: 1200px
}

sizes = {
  icon: 1.75rem,
  brand-size: 2.75rem,
  brand-height: 3rem,
  header-height: 3.5rem,
  footer-nav-size: 1.5rem,
  footer-nav-height: 1.75rem,
  footer-nav-gap: 0.75rem,
  // @media screen and (min-width widths.large)
  large: {
    icon: 2rem,
  }
}

// https://cssgradient.io/
bg-alpha = 0.5
widget-alpha = 0.3
colors = {
  background: linear-gradient(135deg,
    rgba(240, 255, 255, bg-alpha) 0%,
    rgba(240, 224, 255, bg-alpha) 20%,
    rgba(208, 192, 255, bg-alpha) 40%,
    rgba(240, 176, 240, bg-alpha) 50%,
    rgba(255, 192, 208, bg-alpha) 60%,
    rgba(255, 224, 240, bg-alpha) 80%,
    rgba(255, 255, 240, bg-alpha) 100%
  ),
  main-background: rgba(255, 255, 255, 0.5),
  content: rgb(0, 0, 0),
  link: rgba(0, 0, 255, 1.0),
  widget: rgba(255, 255, 255, widget-alpha),
  widget-hovered: rgb(0, 0, 0),
  border: rgba(0, 0, 0, 0.5),
  // @media (prefers-color-scheme dark)
  dark: {
    background: linear-gradient(135deg,
      rgba(16, 0,  8, bg-alpha) 0%,
      rgba(24, 0,  16, bg-alpha) 25%,
      rgba(32, 8,  32, bg-alpha) 50%,
      rgba(16, 8,  24, bg-alpha) 75%,
      rgba(8,  0,  16, bg-alpha) 100%
    ),
    main-background: rgba(0, 0, 0, 0.5),
    content: rgb(255, 255, 255),
    link: rgba(255, 0, 0, 1.0),
    widget: rgba(0, 0, 0, widget-alpha),
    widget-hovered: rgb(255, 255, 255),
    border: rgba(255, 255, 255, 0.5),
  }
}

// https://fonts.google.com/?preview.size=24&subset=latin
fonts = {
  sans: "Fira Sans",
  mono: "Fira Code",
  deco: "Cinzel Decorative",
}

// https://www.w3schools.com/cssref/css_websafe_fonts.php
sans-alternates = "Trebuchet MS", Verdana, Arial, sans-serif
serif-alternates = "Times New Roman", "Georgia", "Garamond", serif
mono-alternates = "Courier New", monospace

sans(size, height)
  font size/height fonts.sans, sans-alternates

serif(size, height)
  font size/height serif-alternates

mono(size, height)
  font size/height fonts.mono, mono-alternates

deco(size, height)
  font size/height fonts.deco, serif-alternates

background-blur(strength)
  backdrop-filter blur(strength)
  -webkit-backdrop-filter blur(strength)

hoverable(light-color, dark-color = null, alpha = 0.5, under = false)
  color light-color
  text-decoration none
  &:hover
    color rgba(light-color, alpha)
    if under
      text-decoration underline
    
  if dark-color
    @media (prefers-color-scheme dark)
      color dark-color
      &:hover
        color rgba(dark-color, alpha)

hoverable-background(light-color, dark-color = null, alpha = 0.5)
  text-decoration none
  &:hover
    background rgba(light-color, alpha)

  if dark-color
    @media (prefers-color-scheme dark)
      &:hover
        background rgba(dark-color, alpha)
