@import "color.styl"
@import "size.styl"
@import "font.styl"


default-font-size = 1rem
default-line-height = 1.5rem

/* This function applys and resize `sans-serif`, `serif` or `monospace` fonts.

Arguments:
  size: Character size. (Default: 1rem)
        https://developer.mozilla.org/en/docs/Web/CSS/font-size
  height: Height of character display area. (Default: 1.5rem)
        https://developer.mozilla.org/en/docs/Web/CSS/line-height
*/
sans(size = default-font-size, height = default-line-height)
  font size/height main-sans, alternative-sans

serif(size = default-font-size, height = default-line-height)
  font size/height alternative-serif

mono(size = default-font-size, height = default-line-height)
  font size/height main-mono, alternative-mono

/* The function to blur the bottom elements.

Arguments:
  strength: Blur strength. (Default: 8px)
*/
background-blur(strength = 8px)
  backdrop-filter blur(strength)

hoverable(light-color, dark-color = null, alpha = 0.5, under = false)
  color light-color
  text-decoration none
  &:hover
    color rgba(light-color, alpha)
    if under
      text-decoration underline
    
  if dark-color
    @media (prefers-color-scheme dark)
      color dark-color
      &:hover
        color rgba(dark-color, alpha)

hoverable-background(light-color, dark-color = null, alpha = 0.5)
  text-decoration none
  &:hover
    background rgba(light-color, alpha)

  if dark-color
    @media (prefers-color-scheme dark)
      &:hover
        background rgba(dark-color, alpha)
