/* Colors property for dark mode support.

Let's reuse the same colors.

Usage:
  ```
  p
    color colors.content
    @media (prefers-color-scheme dark)
      color colors.dark.content

  a
    color colors.link
    @media (prefers-color-scheme dark)
      color colors.dark.link
  ```

References:
  https://developer.mozilla.org/en/docs/Web/CSS/@media/prefers-color-scheme
  https://developer.mozilla.org/en/docs/Web/CSS/color_value/rgb
  https://developer.mozilla.org/en/docs/Web/CSS/gradient/linear-gradient
  https://cssgradient.io/
*/
alphas =  {
  background: 0.5,
  widget: 0.3,
}

colors =  {
  background: linear-gradient(135deg,
    rgba(240, 255, 255, alphas.background) 0%,
    rgba(240, 224, 255, alphas.background) 20%,
    rgba(208, 192, 255, alphas.background) 40%,
    rgba(240, 176, 240, alphas.background) 50%,
    rgba(255, 192, 208, alphas.background) 60%,
    rgba(255, 224, 240, alphas.background) 80%,
    rgba(255, 255, 240, alphas.background) 100%
  ),
  main-background: rgba(255, 255, 255, alphas.background),
  content: rgb(0, 0, 0),
  link: rgba(0, 0, 255, 1.0),
  widget: rgba(255, 255, 255, alphas.widget),
  widget-hovered: rgb(0, 0, 0),
  border: rgba(0, 0, 0, 0.5),
  // Dark mode
  dark: {
    background: linear-gradient(135deg,
      rgba(16, 0,  8, alphas.background) 0%,
      rgba(24, 0,  16, alphas.background) 25%,
      rgba(32, 8,  32, alphas.background) 50%,
      rgba(16, 8,  24, alphas.background) 75%,
      rgba(8,  0,  16, alphas.background) 100%
    ),
    main-background: rgba(0, 0, 0, alphas.background),
    content: rgb(255, 255, 255),
    link: rgba(255, 0, 0, 1.0),
    widget: rgba(0, 0, 0, alphas.widget),
    widget-hovered: rgb(255, 255, 255),
    border: rgba(255, 255, 255, 0.5),
  },
}

set-colors(light = colors.content, _dark = colors.dark.content)
  color light
  @media (prefers-color-scheme dark)
    color _dark

set-backgrounds(light = colors.background, _dark = colors.dark.background)
  background light
  @media (prefers-color-scheme dark)
    background _dark

glassmorphism(_light = colors.widget, _dark = colors.dark.widget, hovered = false)
  z-index 0
  padding 1rem

  // glassmorphism
  border 1px solid rgba(colors.widget, alphas.widget)
  border-radius 16px
  filter drop-shadow(0px 0px 8px rgba(black, alphas.widget))
  backdrop-filter blur(8px)

  // Light mode
  background _light

  // Dark mode
  @media (prefers-color-scheme dark)
    background _dark

  // Hover
  if hovered
    text-decoration none
    &:hover
      background rgba(colors.widget-hovered, alphas.widget)
      @media (prefers-color-scheme dark)
        background rgba(colors.dark.widget-hovered, alphas.widget)
