/* Colors property for dark mode support.

Let's reuse the same colors.

Usage:
  ```
  p
    color colors.content
    @media (prefers-color-scheme dark)
      color colors.dark.content

  a
    color colors.link
    @media (prefers-color-scheme dark)
      color colors.dark.link
  ```

References:
  https://developer.mozilla.org/en/docs/Web/CSS/@media/prefers-color-scheme
  https://developer.mozilla.org/en/docs/Web/CSS/color_value/rgb
  https://developer.mozilla.org/en/docs/Web/CSS/gradient/linear-gradient
  https://cssgradient.io/
*/

widget-alpha = 0.4

glassmorphism()
  z-index 0
  padding 1rem

  // glassmorphism
  border 1px solid rgba(rgba(255, 255, 255, widget-alpha), widget-alpha)
  border-radius 16px
  filter drop-shadow(0px 0px 8px rgba(black, widget-alpha))
  backdrop-filter blur(8px)

  text-decoration none

$widget
  glassmorphism()
  background var(--widget)
  color var(--content)
