white-background = rgba(255, 255, 255, 0.5)
black-background = rgba(0, 0, 0, 0.5)

.dark-background
  background white-background
  @media (prefers-color-scheme dark)
    background black-background

.dark-item
  background black
  @media (prefers-color-scheme dark)
    background white

.dark-text
  color black
  @media (prefers-color-scheme dark)
    color white

.dark-item-hover
  @extend .dark-item
  &:hover
    background red
    @media (prefers-color-scheme dark)
      background blue

.dark-text-hover
  @extend .dark-text
  &:hover
    color red
    @media (prefers-color-scheme dark)
      color blue

bg-blur = 1rem
.blur-background
  @extend .dark-background
  backdrop-filter blur(bg-blur)
  -webkit-backdrop-filter blur(bg-blur)