light-background = rgba(255, 255, 255, 0.5)
light-item = black
light-hover = red

dark-background = rgba(0, 0, 0, 0.5)
dark-item = white
dark-hover = blue

.dark-background
  background light-background
  @media (prefers-color-scheme dark)
    background dark-background

.dark-item
  background light-item
  @media (prefers-color-scheme dark)
    background dark-item

.dark-text
  color light-item
  @media (prefers-color-scheme dark)
    color dark-item

.dark-item-hover
  @extend .dark-item
  &:hover
    background light-hover
    @media (prefers-color-scheme dark)
      background dark-hover

.dark-text-hover
  @extend .dark-text
  &:hover
    color light-hover
    @media (prefers-color-scheme dark)
      color dark-hover

.blur-background
  @extend .dark-background
  backdrop-filter blur(5rem)
  -webkit-backdrop-filter blur(5rem)