@import "api.styl"
@import "theme.styl"

:root
  --widths-small widths.small
  --widths-medium widths.medium
  --widths-large widths.large
  --widths-largest widths.largest
  --golden-ratio ((1 + 5 ** 0.5) / 2)

@keyframes expand
  0%
    width 0%
  100%
    width 100%

@keyframes float
  0%
    transform translateY(0)
  25%
    transform translateY(4px)
  50%
    transform translateY(0)
  75%
    transform translateY(-4px)
  100%
    transform translateY(0)

@keyframes rainbow-shadow
  0%
    filter drop-shadow(0 0 8px red)
  14%
    filter drop-shadow(0 0 8px orange)
  28%
    filter drop-shadow(0 0 8px yellow)
  42%
    filter drop-shadow(0 0 8px green)
  56%
    filter drop-shadow(0 0 8px cyan)
  70%
    filter drop-shadow(0 0 8px indigo)
  84%
    filter drop-shadow(0 0 8px purple)
  100%
    filter drop-shadow(0 0 8px red)

*
  margin-top 0
  margin-bottom 0
  margin-left 0
  margin-right 0
  padding-top 0
  padding-bottom 0
  padding-left 0
  padding-right 0

p, a, h1, h2, h3, h4, h5, h6, [data-icon], [data-link]
  color var(--content)
