@import "api.styl"
@import "theme.styl"

:root
  --widths-small widths.small
  --widths-medium widths.medium
  --widths-large widths.large
  --widths-largest widths.largest
  --golden-ratio ((1 + 5 ** 0.5) / 2)

*
  margin-top 0
  margin-bottom 0
  margin-left 0
  margin-right 0
  padding-top 0
  padding-bottom 0
  padding-left 0
  padding-right 0

p, a, h1, h2, h3, h4, h5, h6, [data-icon], [data-link]
  color var(--content)
