@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.mono-font
  font-family "Fira Code", monospace

.bitching-font
  font-family Garamond, "Times New Roman", Georgia, serif