@import "./api.styl"

.footer
  margin 1rem auto
  bottom 0
  display grid
  grid-template-areas \
      "brand  " \
      "desc   " \
      "socials" \
      "info   ";
  gap 1rem
  align-items center

  @media screen and (min-width widths.medium)
    gap 0.5rem
    grid-template-rows 1fr 0.5fr 2fr 1fr
    grid-template-columns auto 10rem
    grid-template-areas \
      "brand   pages-label" \
      "desc    pages      " \
      "socials pages      " \
      "info    pages      ";

  @media screen and (min-width widths.large)
    width 900px
    grid-template-rows 1.5fr 1fr 3fr 2fr
    grid-template-columns 2fr repeat(2, 1fr)
    grid-template-areas \
      "brand   pages-label res-label" \
      "desc    pages       res      " \
      "socials pages       res      " \
      "info    pages       res      ";
    gap 0.5rem 1rem

  .pages-brand
    grid-area brand
    margin auto 0

  .description
    grid-area desc
    sans(1rem, 1.5rem)

  .socials
    width 15rem
    grid-area socials
    display grid
    gap 1rem
    grid-template-columns repeat(5, 1fr)
    justify-self center
    @media screen and (min-width widths.medium)
      grid-template-columns repeat(6, 1fr)
      justify-self start

  .informations
    grid-area info
    text-align center
    @media screen and (min-width widths.medium)
      text-align start

  h2
    sans(1.5rem, 2rem)
    margin 0.5rem 0

  div > a
    sans(1.2rem, 1.5rem)
    hoverable(black)

  .pages-label, .pages, .resources-label, .resources
    display none

  .pages, .resources
    align-self start
    flex-direction column
    gap 0.7rem

  @media screen and (min-width widths.medium)
    .pages
      display flex
    .pages-label
      display block
    @media screen and (max-width widths.large - 1)
      .pages, .pages-label
        width 7rem
        justify-self end
  
  @media screen and (min-width widths.large)
    .resources
      display flex
    .resources-label
      display block
  
  .pages-label
    grid-area pages-label

  .pages
    grid-area pages

  .resources-label
    grid-area res-label

  .resources
    grid-area res
