@import "api.styl"
@import "global/theme.styl"
@import "global/animation.styl"
@import "global/font.styl"

:root
  --widths-small widths.small
  --widths-medium widths.medium
  --widths-large widths.large
  --widths-largest widths.largest

:where(*)
  margins(0)
  paddings(0)

p, a, h1, h2, h3, h4, h5, h6, [data-icon], [data-link]
  color var(--content)
