@import "./api.styl"

*
  margin 0
  padding 0

body
  z-index -1
  min-height 100vh
  display flex
  flex-direction column
  justify-content space-between
  // For dark mode
  background colors.main-background
  @media (prefers-color-scheme dark)
    background colors.dark.main-background

header, footer
  width 100%
  background-blur(8px)

div.header, div.footer
  margin 0 auto

div.header, div.footer, main
  @media screen and (min-width widths.largest)
    width widths.large

main
  padding 1rem
  margin 2rem auto

header, footer, article
  background colors.widget; // Why need this
  @media (prefers-color-scheme dark)
    background colors.dark.widget

p, h1, h2, h3, h4, h5, h6, li
  color colors.content
  @media (prefers-color-scheme dark)
    color colors.dark.content


main, div
  p, em, del, u, li, table
    sans(1rem, 1.5rem)
  a
    hoverable(colors.link, colors.dark.link, under: true)
  h1
    sans(2rem, 2rem)
  h2, h3
    sans(1.5rem, 2rem)
  h4
    sans(1.25rem, 1.5rem)
  h5
    sans(1.1rem, 1.5rem)
  h6
    sans(1rem, 1rem)
