@import "font"
@import "dark"
@import "static"
@import "responsive"

.flex-row 
  display flex
  justify-content space-between
  align-items center

.flex-row-reverse
  @extend .flex-row
  flex-direction row-reverse

.flex-col
  @extend .flex-row
  flex-direction column

.flex-col-reverse
  @extend .flex-row
  flex-direction column-reverse