// Can use for responsive
// @media screen and (max-width narrow-screen)
// @media screen and (min-width wide-screen)
narrow-screen = 1023px
wide-screen = 1024px

narrow-width = 80%
wide-width = 75%

item-size = 2rem

text-size = 1rem
wide-text-size = 1.5rem

icon-size = 1.5rem
wide-icon-size = 2.5rem

static-spacing = 1.5rem

item-spacing = 1.5rem
wide-item-spacing = item-spacing * 2

main-spacing = 1.5rem
header-height = item-size + static-spacing * 2
footer-height = icon-size + static-spacing + text-size + static-spacing * 2
wide-footer-height = wide-icon-size + static-spacing + wide-text-size + static-spacing * 2

.flex-row 
  display flex
  justify-content space-between
  align-items center

.flex-col
  @extend .flex-row
  flex-direction column

.flex-col-reverse
  @extend .flex-row
  flex-direction column-reverse

.flex-gap
  gap item-spacing
  @media (min-width wide-screen)
    gap wide-item-spacing

.blur-background
  background rgba(255, 255, 255, 0.4)
  backdrop-filter blur(5rem)

.static-box
  @extend .blur-background
  padding static-spacing
  font-family monospace

.main-box
  @extend .blur-background
  padding main-spacing

.text-box
  font-size text-size
  @media (min-width wide-screen)
    font-size wide-text-size

.icon
  height icon-size
  width icon-size
  @media (min-width wide-screen)
    height wide-icon-size
    width wide-icon-size