@import "api.styl"
@import "default.styl"

@keyframes under
  0%
    width 0%
  100%
    width 100%

$underline
  position relative
  width 100%
  box-sizing border-box
  &::before
    z-index -1
    set-absolute()
    /* duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
    animation 500ms ease-out 0s 1 normal forwards running under
    border-bottom 1px solid colors.content
    @media (prefers-color-scheme dark)
      border-bottom 1px solid colors.dark.content

body
  display flex
  flex-direction column
  box-sizing border-box
  min-height 100vh
  align-items center
  scrollbar(5px)
  @media (prefers-color-scheme light)
    background rgb(240, 240, 248)
  @media (prefers-color-scheme dark)
    background black


left-spacing = 1rem
letter-size = 1.1rem

:root
  --left-spacing: left-spacing
  --letter-size: letter-size

// Markdown contents
main
  width 100%
  box-sizing border-box
  padding 0.5rem
  @media screen and (min-width widths.large)
    padding 1.5rem calc((100% - var(--widths-large)) / 2 + 0.5rem)

  *
    margin-bottom 1rem
    & > *
      margin-bottom 0

  p, a, li
    sans(letter-size, calc(var(--letter-size) + 0.5rem)) 

  a
    hoverable(colors.link, colors.dark.link, alphas.link, under: true)

  p, li, h1, h2, h3, h4, h5, h6
    color colors.content
    @media (prefers-color-scheme dark)
      color colors.dark.content

  li
    padding-bottom 0.25rem
    box-sizing border-box
    margin-left calc(var(--left-spacing) + 1rem)
    &::marker
      font-size 1rem

  blockquote
    margin-left left-spacing
    border-left 3px solid black
    font-style italic
    padding-left left-spacing

  p, h2, h3, h4, h5, h6
    padding-left left-spacing

  * > p
    padding 0

  h1
    margin 5rem 0

  h1, h1 > *
    sans(3rem, 3rem)
    font-weight 900
    text-align center

  h2
    @extend $underline
    margin-top 3rem

  h2, h2 > *
    sans(2rem, 2.5rem)
    font-weight 700

  h3
    margin-top 1.5rem

  h3, h3 > *
    sans(1.75rem, 2rem)

  h4
    margin-top 1rem

  h4, h4 > *
    sans(1.5rem, 2rem)

  h5
    margin-top 1rem

  h5, h5 > *
    sans(1.25rem, 1.5rem)

  h6
    margin-top 1rem

  h6, h6 > *
    sans(1rem, 1.5rem)
