@import "./static"

mobile-screen = 320px
tablet-screen = 600px
desktop-screen = 1024px

mobile-gap-vertical = 2.25rem
tablet-gap-vertical = 4.5rem
.flex-gap-vertical
  @media (min-width mobile-screen)
    gap mobile-gap-vertical
  @media (min-width tablet-screen)
    gap tablet-gap-vertical

mobile-gap-horizontal = 2rem
tablet-gap-horizontal = 2.5rem
.flex-gap-horizontal
  @media (min-width mobile-screen)
    gap mobile-gap-horizontal
  @media (min-width tablet-screen)
    gap tablet-gap-horizontal

mobile-box-padding = 1.5rem
tablet-box-padding = 1rem
.box
  @extend .static-box
  @media (min-width mobile-screen)
    padding mobile-box-padding
  @media (min-width tablet-screen)
    padding tablet-box-padding

mobile-text = 0.95rem
tablet-text = 1.5rem
.text
  @extend .static-text
  @media (min-width mobile-screen)
    font-size mobile-text
  @media (min-width tablet-screen)
    font-size tablet-text

mobile-icon = 1.5rem
tablet-icon = 2rem
.icon
  @extend .static-icon
  @media (min-width mobile-screen)
    width mobile-icon
    height mobile-icon
  @media (min-width tablet-screen)
    width tablet-icon
    height tablet-icon