@import "./static"

mobile-screen = 0px
wide-screen = 600px
desktop-screen = 1024px
hd-screen = 1920px  // low priority
uhd-screen = 3840px  // I WON'T SUPPORT

flex-gap = 1.5rem
wide-flex-gap = 2rem
.flex-gap
  gap flex-gap
  @media (min-width wide-screen)
    gap wide-flex-gap

box-padding = 1.5rem
wide-box-padding = 1rem
.box
  @extend .static-box
  padding box-padding
  @media (min-width wide-screen)
    padding wide-box-padding

text = 1.25rem
wide-text = 1.6rem
.text
  @extend .static-text
  font-size text
  @media (min-width wide-screen)
    font-size wide-text

icon = 1.5rem
wide-icon = 2rem
.icon
  @extend .static-icon
  width icon
  height icon
  @media (min-width wide-screen)
    width wide-icon
    height wide-icon