/* Widths property for responsive support.

Stop hard-coding to specify widths. Do not use `widths.small`.

Usage:
  ```
  p
    font-size 1rem
    @media screen and (min-width widths.medium)
      font-size 1.25rem
    @media screen and (min-width widths.large)
      font-size 1.5rem
    @media screen and (min-width widths.largest)
      font-size 2rem
  ```

References:
  https://developer.mozilla.org/en/docs/Web/CSS/min-width
*/
widths = {  
  small: 300px,
  medium: 600px,
  large: 900px,
  largest: 1200px,
}

full-size-before()
  position fixed
  top 0
  left 0
  width 100% // Don't change to 100vw. Because scrollbar have width in Chrome.
  height 100vh
  content ""

