/* Widths property for responsive support.

Stop hard-coding to specify widths. Do not use `widths.small`.

Usage:
  ```
  p
    font-size 1rem
    @media screen and (min-width widths.medium)
      font-size 1.25rem
    @media screen and (min-width widths.large)
      font-size 1.5rem
    @media screen and (min-width widths.largest)
      font-size 2rem
  ```

References:
  https://developer.mozilla.org/en/docs/Web/CSS/min-width
*/
widths = {  
  small: 300px,
  medium: 600px,
  large: 900px,
  largest: 1200px,
}

sizes = {
  icon: 1.75rem,
  brand-size: 2.75rem,
  brand-height: 3rem,
  header-height: 3.5rem,
  footer-nav-size: 1.5rem,
  footer-nav-height: 1.75rem,
  footer-nav-gap: 0.75rem,
  // widths.large
  large: {
    icon: 2rem,
  },
}

:root
  --widths-small widths.small
  --widths-medium widths.medium
  --widths-large widths.large
  --widths-largest widths.largest

set-widths(small, medium = null, large = null, largest = null)
  width small
  if medium
    @media screen and (min-width widths.medium)
      width medium
  if large
    @media screen and (min-width widths.large)
      width large
  if largest
    @media screen and (min-width widths.largest)
      width largest

set-heights(small, medium = null, large = null, largest = null)
  height small
  if medium
    @media screen and (min-width widths.medium)
      height medium
  if large
    @media screen and (min-width widths.large)
      height large
  if largest
    @media screen and (min-width widths.largest)
      height largest

set-font-sizes(small, medium = null, large = null, largest = null)
  font-size small
  if medium
    @media screen and (min-width widths.medium)
      font-size medium
  if large
    @media screen and (min-width widths.large)
      font-size large
  if largest
    @media screen and (min-width widths.largest)
      font-size largest

set-line-heights(small, medium = null, large = null, largest = null)
  line-height small
  if medium
    @media screen and (min-width widths.medium)
      line-height medium
  if large
    @media screen and (min-width widths.large)
      line-height large
  if largest
    @media screen and (min-width widths.largest)
      line-height largest

set-string-size(small, medium = null, large = null, largest = null, spacing = null)
  set-font-sizes(small, medium, large, largest)

  if spacing
    spacing = spacing * 2

    small = small + spacing
    medium = medium + spacing
    large = large + spacing
    largest = largest + spacing

  set-line-heights(small, medium, large, largest)
