@import "./dark"

static-flex-gap = 2rem
.static-flex-gap
  gap static-flex-gap

static-box = 2rem
.static-box
  @extend .blur-background
  padding static-box

static-item = 2rem
.static-text
  @extend .dark-text-hover
  font-family monospace
  text-decoration none
  font-size static-item
.static-icon
  @extend .dark-item-hover
  mask-repeat no-repeat
  -webkit-mask-repeat no-repeat
  mask-size 100%
  -webkit-mask-size 100%
  width static-item
  height static-item