gradient-alpha = 10%

_light = {
  background: rgb(240, 240, 248),
  content: black,
  content-reversed: white,
  link: blue,
  link-hover: rgba(blue, 0.5),
  link-background: rgba(blue, 0.05),
  link-background-hover: rgba(blue, 0.25),
  widget: rgba(white, 0.4),
  widget-hover: rgba(black, 0.5),
  wiget-border: rgba(black, .2),
  search-background: rgba(white, 0.2),
  border: black,
  gradient-background: linear-gradient(45deg,
    rgba(224, 208, 255, gradient-alpha) 0%,
    rgba(255, 208, 255, gradient-alpha) 50%,
    rgba(255, 255, 255, gradient-alpha) 100%),
}

_dark = {
  background: rgb(8, 8, 16),
  content: white,
  content-reversed: black,
  link: red,
  link-hover: rgba(red, 0.5),
  link-background: rgba(red, 0.05),
  link-background-hover: rgba(red, 0.25),
  widget: rgba(black, 0.4),
  widget-hover: rgba(white, 0.5),
  wiget-border: rgba(white, .2),
  search-background: rgba(black, 0.2),
  border: white,
  gradient-background: linear-gradient(45deg,
    rgba(32, 0, 48, gradient-alpha) 0%,
    rgba(0,  0, 48, gradient-alpha) 50%,
    rgba(0,  0, 0,  gradient-alpha) 100%),
}

:root
  --background _light.background
  --content _light.content
  --content-reversed _light.content-reversed
  --link _light.link
  --link-hover _light.link-hover
  --link-background _light.link-background
  --link-background-hover _light.link-background-hover
  --widget _light.widget
  --widget-hover _light.widget-hover
  --widget-border _light.wiget-border
  --search-background _light.search-background
  --border _light.border
  --gradient-background _light.gradient-background
  @media (prefers-color-scheme dark)
    --background _dark.background
    --content _dark.content
    --content-reversed _dark.content-reversed
    --link _dark.link
    --link-hover _dark.link-hover
    --link-background _dark.link-background
    --link-background-hover _dark.link-background-hover
    --widget _dark.widget
    --widget-hover _dark.widget-hover
    --widget-border _dark.wiget-border
    --search-background _dark.search-background
    --border _dark.border
    --gradient-background _dark.gradient-background

[data-color-scheme="light"]
  --background _light.background
  --content _light.content
  --content-reversed _light.content-reversed
  --link _light.link
  --link-hover _light.link-hover
  --link-background _light.link-background
  --link-background-hover _light.link-background-hover
  --widget _light.widget
  --widget-hover _light.widget-hover
  --widget-border _light.wiget-border
  --search-background _light.search-background
  --border _light.border
  --gradient-background _light.gradient-background

[data-color-scheme="dark"]
  --background _dark.background
  --content _dark.content
  --content-reversed _dark.content-reversed
  --link _dark.link
  --link-hover _dark.link-hover
  --link-background _dark.link-background
  --link-background-hover _dark.link-background-hover
  --widget _dark.widget
  --widget-hover _dark.widget-hover
  --widget-border _dark.wiget-border
  --search-background _dark.search-background
  --border _dark.border
  --gradient-background _dark.gradient-background
