body.markdown > main
  [post-info]
    display flex
    flex-direction column
    gap 2rem

  [modified-dates]
    display flex
    justify-content space-around

  [tag-list]
    display flex
    overflow scroll
    gap 1rem
    justify-content center

  p[tag-item]
    width auto
    border-radius 8px
    padding 0.25rem 1rem
    background black
    color white
    @media (prefers-color-scheme: dark)
      background white
      color black
