---
import { Picture } from 'astro:assets';

export interface Props {
  image: ImageMetadata;
  formats?: Array<string>;
  name: string;
  alt?: string;
}

const { image, formats = [], alt = "pfp", name } = Astro.props;
---

<article>
  <div>
    <Picture src={image} formats={formats} alt={alt} loading="eager" />
  </div>
  <h1>{name}</h1>
  <p>
    <slot />
  </p>
</article>

<style lang="stylus">
  @import "../../styles/api.styl"

  profile-sizes = {
    avatar: 10rem,
    name: 2rem,
    name-height: 2.25rem,
    bio: 1rem,
    bio-height: 1.25rem,
    large: {
      name: 2.5rem,
      name-height: 2.75rem,
      bio: 1.25rem,
      bio-height: 1.75rem,
    }
  }

  article
    background rgba(0, 0, 0, 0.0)
    display grid
    justify-items center
    align-items center
    grid-template-rows profile-sizes.avatar profile-sizes.name auto
    grid-template-areas \
      "avatar" \
      "name" \
      "bio";
    gap 1rem
    @media screen and (min-width widths.large)
      justify-items flex-start
      grid-template-rows repeat(2, 1fr)
      grid-template-columns profile-sizes.avatar auto
      grid-template-areas \
        "avatar name" \
        "avatar bio";
      gap 0.5rem 2rem

  h1
    grid-area name
    sans(profile-sizes.name, profile-sizes.name-height)
    @media screen and (min-width widths.large)
      sans(profile-sizes.large.name, profile-sizes.large.name-height)
      align-self flex-end

  p
    grid-area bio
    sans(profile-sizes.bio, profile-sizes.bio-height)
    text-align center
    @media screen and (min-width widths.large)
      sans(profile-sizes.large.bio, profile-sizes.large.bio-height)
      text-align start
      align-self flex-start

  div
    grid-area avatar
    @media screen and (min-width widths.large)
      justify-self flex-end

  // Why no style specification like astro-icon?
  div, div > :global(picture), div > :global(picture) > img
    border-radius 100%
    width profile-sizes.avatar
    height profile-sizes.avatar
</style>
