---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout title="Cbrnex's Blog">
  <main>
    <div>{posts.map((post) => <a href={post.slug}>{post.data.title}</a>)}</div>
  </main>
</Layout>

<style lang="stylus">
  @import "../styles/main"

  div
    @extend .flex-col

    font-family monospace
    @media (min-width mobile-screen)
      font-size 1.25rem
    @media (min-width wide-screen)
      font-size 2rem
    @media (min-width desktop-screen)
      font-size 2.5rem

    a
      @extend .dark-text-hover
      width 100%
      text-decoration none
</style>
