---
import MainLayout from "@layouts/MainLayout.astro";

import light from "@assets/background/PGdW_bHDbpI.jpg";
import dark from "@assets/background/ZkzobNDayXo.jpg";
---

<MainLayout backgrounds={{ light: light, dark: dark }}>
  <section>
    <hgroup>
      <h1>Goal</h1>
      <p>What's the goal?</p>
    </hgroup>
    <p>
      The goal is to help front-end developments in anyway. <br />
      So, to make available tools, to share methods, to help understanding, and many other things.
    </p>
  </section>

  <section>
    <hgroup>
      <h2>Fast</h2>
      <p>Is Pages fast? Why is it fast?</p>
    </hgroup>
    <div>
      <p>
        Pages is developed based on Astro. Astro is the ultimate static site generator. <br />
        Pages benefits from it and minimal JS code.
      </p>
      <p>
        Pages uses Svelte as UI component. Svelte has small bundle size and good performance. Also, Svelte components
        optimized by Astro Island Architecture.
      </p>
      <p>Pages prepares important resources ahead of time.</p>
      <p>Pages compresses files by Astro and other tools</p>
    </div>
  </section>
</MainLayout>
