<html>
  <body>
    <header>header</header>
    <main>main</main>
    <footer>footer</footer>
  </body>
</html>

<style lang="stylus">
  html
    background red

  body
    display flex
    flex-direction column
    height 100%
    align-content space-between
    min-height: 100vh;

  header
    position fixed

  main
    margin-top 2rem

  footer
    margin-top: auto;
    font-size 5rem
</style>
