---
import Layout from "../layouts/Layout.astro";
import avatar from "@assets/avatar.webp"
---

<Layout title="Cbrnex">
  <main>
    <div class="profile-card">
      <div class="profile-text">
        <p class="name dark-text bitching-font">Cbrnex</p>
        <p class="bio dark-text mono-font">Cbrnex is always here.</p>
      </div>
      <div class="avatar">
        <div class="avatar-layer">
          <img src={avatar.src} width={avatar.width} height={avatar.height} alt="avatar" />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style lang="stylus">
  mobile-screen = 320px
  tablet-screen = 600px
  desktop-screen = 1024px

  mobile-name = 3rem
  mobile-bio = 1rem
  mobile-spacing = 3.5rem
  mobile-profile = mobile-name + mobile-bio + mobile-spacing *2

  desktop-name = 4.5rem
  desktop-bio = 1.5rem
  desktop-spacing = 4.5rem
  desktop-profile = desktop-name + desktop-bio + desktop-spacing * 2

  p
    margin 0 auto

  .profile-card
    display flex
    width 100%
    gap 0
    @media (min-width mobile-screen)
      gap 1rem
      flex-direction column-reverse
    @media (min-width tablet-screen)
      flex-direction row
      justify-content space-between
      align-items center
      height wide-profile
    @media (min-width desktop-screen)
      height desktop-profile

  .profile-text
    flex-grow 1
    text-align center

  .name
    text-decoration none
    @media (min-width mobile-screen)
      font-size mobile-name
    @media (min-width desktop-screen)
      font-size desktop-name

  .bio
    @media (min-width mobile-screen)
      font-size mobile-bio
    @media (min-width desktop-screen)
      font-size desktop-bio

  .avatar
    @media (min-width tablet-screen)
      flex-basis 40%

  .avatar-layer
    margin 0 auto
    @media (min-width mobile-screen)
      width mobile-profile
      height mobile-profile
    @media (min-width desktop-screen)
      width desktop-profile
      height desktop-profile

  img
    border-radius 100%
    width 100%
    height 100%
</style>
