---
import Layout from "@layouts/V2/Layout.astro";

import GradientLogo from "@components/V2/GradientLogo.astro";
import GradientText from "@components/V2/GradientText.astro";
import Profile from "@components/V2/Profile.astro";
import Repository from "@components/V2/Repository.astro";
import PostList from "@components/PostList.astro";

import logo from "@icons/logo.svg";

const landingLogo = `url(${logo.src})`;
---

<Layout title="Pages - Fast and simple website">
  <!-- Landing -->
  <section landing-box>
    <GradientLogo />
    <GradientText>
      No ads, No paid, <br /> No morals.
    </GradientText>
  </section>
  <!-- Profile List -->
  <section profile-list>
    <Profile icon="7rs" name="Cbrnex" href="https://github.com/7rs" title="GitHub Profile" lang="en" openInNewTab>
      An engineer and TASer
    </Profile>
    <Profile icon="74" name="74" href="https://github.com/74gg" title="GitHub Profile" lang="en" openInNewTab>
      Organization for gamers
    </Profile>
    <Profile icon="74" name="Pages" href="https://github.com/7rs/pages" title="GitHub Profile" lang="en" openInNewTab>
      Fast and simple website
    </Profile>
  </section>
  <!-- Repository List -->
  <section repository-list>
    <Repository authors="7rs" name="line4py" icon="material-symbols:package-2-outline-sharp">
      Unofficially LINE library for Python.
    </Repository>
    <Repository authors="7rs" name="logos" icon="material-symbols:package-2-outline-sharp">Logos by Cbrnex.</Repository>
    <Repository authors="7rs" name="parfait" icon="material-symbols:package-2-outline-sharp">
      A GUI tool for SM64 TASing.
    </Repository>
    <Repository authors="7rs" name="line" icon="material-symbols:package-2-outline-sharp">
      LINE API information and thrift files.
    </Repository>
    <Repository authors="7rs" name="legible-fonts" icon="material-symbols:package-2-outline-sharp">
      Legible monospace fonts for engineers.
    </Repository>
    <Repository authors="74gg" name="74gg.github.io" icon="material-symbols:package-2-outline-sharp">
      An website for an organization @74gg.
    </Repository>
  </section>
  <PostList />
</Layout>

<style lang="stylus" define:vars={{landingLogo}}>
  @import "../styles/api.styl"

  [landing-box]
    set-absolute()
    height calc(100vh - 5rem)
    box-sizing border-box
    padding 1rem
    display flex
    flex-direction column
    justify-content center

  [profile-list]
    margin-top 100vh
    width 100%
    display grid
    gap 1rem
    grid-template-rows 1fr
    grid-template-columns 1fr
    @media screen and (min-width widths.large)
      grid-template-columns repeat(3, 1fr)

  [repository-list]
    display grid
    gap 1rem
    grid-template-columns 1fr
    @media screen and (min-width widths.medium)
      grid-template-columns repeat(2, 1fr)
    @media screen and (min-width widths.large)
      grid-template-columns repeat(3, 1fr)
</style>
