<div class="px-6 mt-8 text-base | lg:px-8 lg:mt-12 lg:text-xl | font-mono">
  <p>
    The name <strong>Cbrnex</strong> come from <strong>CBRNE</strong>. (CBRN is
    called CBRNE in Japan.) <strong>CBRNE</strong> is an acronym for <span
      class="font-black text-yellow-500">C</span
    >hemical, <span class="font-black text-green-600">B</span>iological, <span
      class="font-black text-blue-600">R</span
    >adiological and <span class="font-black text-purple-600">N</span>uclear, <span
      class="font-black text-red-600">E</span
    >xplosive. <strong>"X"</strong> hasn't meaning, but is sometimes replaced by
    <strong>the swastika</strong>. (<span class="under"
      >The swastika is known in Japan as a map symbol for temples and is
      distinguished from the Hakenkreuz.</span
    >) <strong>"DAWN"</strong> sometimes described later, this is come from the "DAWN"
    in <strong>ONE PIECE</strong>. Also, the domain name <strong>"7rs"</strong> come
    from the name <strong>"SRSU"</strong> and the <strong>my 7 old names</strong
    > beginning with the letter <strong>R</strong>: rainonZ, Rz, R4XEL, RIN,
    RIRU, Rarirupi and Roy.
  </p>
</div>
<style>
  .bold {
    font-weight: 800;
  }
  .under {
    text-decoration: red wavy underline;
  }
</style>
