---
import LabeledIcon from "./LabeledIcon.astro";
import { Icon } from "astro-icon/components";
---

<a href="/" title="Main page">
  <Icon name="brand" title="Logo for pages" />
</a>

<style lang="stylus">
  @import "../styles/api.styl"

  a
    margin auto 0

    [data-icon]
      margin auto
      font-size sizes.brand-size
      line-height sizes.brand-height
      color colors.content
      @media (prefers-color-scheme dark)
        color colors.dark.content
</style>
