---
import { Icon } from "astro-icon/components";

export interface Props {
  icon: string;
  label: string;
  id?: string;
}

const { icon, label, id, ...props } = Astro.props;
---

<article id={id} data-card>
  <Icon name={icon} />
  <h3>{label}</h3>
  <p><slot /></p>
</article>

<style lang="stylus">
  @import "../styles/api.styl"

  [data-card]
    @extend $glassmorphism
    padding 1rem
    display grid
    grid-template-rows auto 1fr
    grid-template-columns auto 1fr
    gap 0.5rem
    grid-template-areas "icon label" \
                        "desc desc ";

    [data-icon]
      grid-area icon
      font-size 2rem

    h3
      grid-area label
      sans(2rem, 2rem)
      width 100%

    p
      grid-area desc
      sans(1.25rem)
</style>
