---
import { Icon } from "astro-icon/components";

export interface Props {
  icon: string;
  label: string;
  id?: string;
}

const { icon, label, id, ...props } = Astro.props;
---

<article id={id} data-card {...props}>
  <Icon name={icon} />
  <h3 data-card-title>{label}</h3>
  <p data-catd-content><slot /></p>
</article>

<style lang="stylus">
  @import "../styles/api.styl"

  [data-card]
    @extend $widget-glassmorphism
    display grid
    padding 1rem
    gap 0.5rem
    grid-template-rows auto 1fr
    grid-template-columns auto 1fr
    grid-template-areas "icon label" \
                        "desc desc ";

  [data-icon]
    grid-area icon
    set-font(size: "label")

  [data-card-title]
    grid-area label
    width 100%
    set-font("sans", "label")

  [data-catd-content]
    grid-area desc
    set-font("sans", "normal", "auto")
</style>
