---
import { Icon } from "astro-icon/components";
import LabeledIcon from "./LabeledIcon.astro";

export interface Props {
  href: string;
  description: string;
  openInNewTab?: boolean;
  iconName?: string;
}

const { href, description, openInNewTab = false, iconName, ...props } = Astro.props;

let target: string | undefined = undefined;
let rel: string | undefined;

if (openInNewTab) {
  target = "_blank";
  rel = "noopener noreferrer";
}
---

<a
  href={href}
  title={description}
  target={openInNewTab ? "_blank" : null}
  rel={openInNewTab ? "noopener noreferrer" : null}
  {...props}
  link-style
>
  {
    iconName ? (
      <LabeledIcon icon={iconName} description={description}>
        <slot />
      </LabeledIcon>
    ) : (
      <slot />
    )
  }
</a>

<style lang="stylus">
  @import "../styles/api.styl"

  [link-style]
    display flex
    // Need a semicolon. Is this a bug?
    gap 0.5rem
    align-items center
    text-decoration none
</style>
