---
import Icon from "../components/Icon.astro";
---

<div>
  <Icon src="brand-icons/youtube.svg" , href="https://youtube.com/@Cbrnex" />
  <Icon
    src="brand-icons/youtubegaming.svg"
    ,
    href="https://youtube.com/@QRZE"
  />
  <Icon src="brand-icons/github.svg" href="https://github.com/7rs" />
  <Icon src="brand-icons/twitter.svg" href="https://twitter.com/Cbrnex" />
  <Icon src="brand-icons/pinterest.svg" href="https://pinterest.com/Cbrnex" />
  <Icon
    src="brand-icons/applemusic.svg"
    href="https://music.apple.com/profile/7rs"
  />
  <Icon src="brand-icons/telegram.svg" href="https://t.me/Cbrnex" />
  <Icon src="brand-icons/discord.svg" href="https://discord.gg/GQP8A5kDJV" />
</div>

<style>
  div {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
</style>
