---
const props = Astro.props;
---

<div data-link-buttons {...props}>
  <slot />
</div>

<style lang="stylus">
  @import "../styles/api.styl"

  [data-link-buttons]
    justify-content center

    flex(_gap: 1rem)
    @media screen and (min-width widths.medium)
      flex(_gap: 1.5rem)
</style>
