---
export interface Props {
  href?: string;
  title?: string;
  lang?: string;
  openInNewTab?: boolean;
}

const { href, title, lang = "en", openInNewTab = false, ...props } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      title={title}
      hreflang={lang}
      referrerpolicy="no-referrer"
      rel="noopener noreferrer"
      target={openInNewTab ? "_blank" : undefined}
      {...props}
      data-link
    >
      <slot />
    </a>
  ) : (
    <slot />
  )
}

<style lang="stylus">
  a[data-link]
    text-decoration none
</style>
