<a
  href="https://wikipedia.org/wiki/CBRNE"
  target="_blank"
  rel="noopener noreferrer"
  class=""></a>

<style>
  a:after {
    content: "";
    animation: 0.5s normal linear 0s 1 forwards cbrnex,
      0.5s normal linear 0s 1 forwards color,
      0.5s normal linear 0.5s 1 forwards family,
      0.5s normal linear 0.5s 1 forwards gradient;
  }
  .blink-line {
    animation: 0.5s linear 0s none blink;
  }
  @keyframes cbrnex {
    0% {
      content: "";
    }
    16% {
      content: "C";
    }
    32% {
      content: "Cb";
    }
    48% {
      content: "Cbr";
    }
    64% {
      content: "Cbrn";
    }
    80% {
      content: "Cbrne";
    }
    100% {
      content: "Cbrnex";
    }
  }
  @keyframes family {
    0% {
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
    }
    50% {
      font-family: ui-serif, serif;
    }
    100% {
      font-family: ui-monospace, monospace;
    }
  }
  @keyframes color {
    0% {
      color: #000000;
    }
    100% {
      color: rgb(255, 23, 68);
    }
  }
  @keyframes gradient {
    0% {
      background: linear-gradient(135deg, rgb(255, 23, 68), rgb(255, 145, 0));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    20% {
      background: linear-gradient(
        135deg,
        rgb(255, 23, 68),
        rgb(255, 145, 0),
        rgb(255, 234, 0)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    40% {
      background: linear-gradient(
        135deg,
        rgb(255, 23, 68),
        rgb(255, 145, 0),
        rgb(255, 234, 0),
        rgb(0, 230, 118)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    60% {
      background: linear-gradient(
        135deg,
        rgb(255, 23, 68),
        rgb(255, 145, 0),
        rgb(255, 234, 0),
        rgb(0, 230, 118),
        rgb(41, 121, 255)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    80% {
      background: linear-gradient(
        135deg,
        rgb(255, 23, 68),
        rgb(255, 145, 0),
        rgb(255, 234, 0),
        rgb(0, 230, 118),
        rgb(41, 121, 255),
        rgb(61, 90, 254)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    100% {
      background: linear-gradient(
        135deg,
        rgb(255, 23, 68),
        rgb(255, 145, 0),
        rgb(255, 234, 0),
        rgb(0, 230, 118),
        rgb(41, 121, 255),
        rgb(61, 90, 254),
        rgb(213, 0, 249)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
</style>
