---
export interface Props {
  header: string;
}

const {header} = Astro.props;
---

<div>
  <h1>{header}</h1>
  <slot />
</div>

<style lang="stylus">
  @import "../styles/api.styl"

  div
    display flex
    flex-direction column

  h1
    sans(2rem, 2.5rem)
</style>
