---
import LocaleInformation from "@components/LocaleInformation.svelte";
import PostInformation from "./PostInformation.astro";
import { getPostMap } from "@lib/blog";

const postMap = await getPostMap();
---

<section>
  {
    Array.from(postMap).map(([_, data]) => (
      <article>
        {data.localeDatas.length > 1 ? (
          <LocaleInformation locales={data.localeDatas} client:visible />
        ) : (
          <PostInformation locale={data.localeDatas[0]} />
        )}
      </article>
    ))
  }
</section>

<style lang="stylus">
  @import "../styles/api.styl"

  section
    display flex
    flex-direction column
    gap 1rem

    article
      padding 1rem
      border-radius 1rem
      background colors.widget
      @media (prefers-color-scheme dark)
        background colors.dark.widget
      display grid
      grid-template-areas \
        "title buttons"
      // grid-template-rows 4rem 1rem
      grid-template-columns auto 3rem
      @media screen and (min-width widths.medium)
        grid-template-columns auto 5rem

      h1, div > a
        margin auto 0

      // A post title.
      h1
        grid-area title
        color black
        sans(1.1rem, 1.5rem)
        @media screen and (min-width widths.large)
          sans(1.75rem, 2rem)
        color colors.content
        @media (prefers-color-scheme dark)
          color colors.dark.content

      // A language button list.
      div
        grid-area buttons
        display flex
        flex-direction column
        align-items center
        gap 0.75rem
        @media screen and (min-width widths.large)
          gap 0.25rem

        // A language button.
        a
          color colors.content
          @media (prefers-color-scheme dark)
            color colors.dark.content
          hoverable-background(colors.widget-hovered, colors.dark.widget-hovered, 0.2)
          &:hover
            border-radius 0.5rem

          sans(0.9rem, 1.25rem)
          @media screen and (min-width widths.medium)
            sans(1.1rem, 1.25rem)
          @media screen and (min-width widths.large)
            padding 0.5rem
</style>
