---
import Avatar from "./Avatar.astro";
import Name from "./Name.astro";
---

<section>
  <h1>
    <Name />
  </h1>
  <a
    href="https://unsplash.com/photos/7bynNtRqu4E"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Avatar src="avatar.avif" />
  </a>
</section>
<style>
  h1 {
    text-align: center;
    flex-grow: 1;
  }
  a {
    width: 100%;
    height: 100%;
    flex-basis: 25%;
  }
  section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* flex-col-reverse */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
