---
import Avatar from "./Avatar.astro";
import Name from "./Name.astro";
---

<section
  class="mx-4 gap-4 flex-col-reverse | lg:mx-44 lg:flex-row | pt-8 flex justify-between items-center"
>
  <h1 class="basis-3/4 | text-4xl | lg:text-8xl | text-center">
    <Name />
  </h1>
  <a
    class="basis-1/4 w-36"
    href="https://unsplash.com/photos/7bynNtRqu4E"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Avatar src="avatar.avif" />
  </a>
</section>
<style>
  a {
    width: 100%;
    height: 100%;
  }
</style>
