---
import Avatar from "./Avatar.astro";
import Name from "./Name.astro";
---

<section>
  <h1>
    <Name />
  </h1>
  <a
    href="https://unsplash.com/photos/7bynNtRqu4E"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Avatar src="avatar.avif" />
  </a>
</section>

<style lang="stylus">
  section
    margin-top 1rem
    margin-bottom 1rem
    margin-left 2rem
    margin-right 2rem
    display flex
    flex-direction column-reverse
    justify-content space-between
    align-items center

  h1
    font-size 4rem
    text-align center
    flex-grow 1

  a
    flex-basis 25%

  @media screen and (min-width: 1024px)
    section
      flex-direction row
</style>
