---
import Progress from "./Progress.astro";
---

<h2
  class="my-1 mt-8 text-2xl | lg:my-3 lg:text-4xl lg:mt-12 | text-center font-mono"
>
  SKILLS
</h2>
<div
  class="text-xs gap-0.5 | lg:text-base lg:gap-1 | flex flex-col w-full font-mono"
>
  <Progress name="python" href="https://www.python.org/" />
  <Progress name="go" href="https://go.dev/" />
  <Progress name="java" href="https://www.java.com/" />
  <Progress name="web" href="https://developer.mozilla.org/docs/Web" />
  <Progress
    name="shell"
    href="https://tiswww.case.edu/php/chet/bash/bashtop.html"
  />
  <Progress
    name="js"
    href="https://developer.mozilla.org/ja/docs/Web/JavaScript"
  />
</div>

<style></style>
