---
import Progress from "./Progress.astro";
---

<h2>SKILLS</h2>
<div>
  <Progress name="python" href="https://www.python.org/" />
  <Progress name="go" href="https://go.dev/" />
  <Progress name="java" href="https://www.java.com/" />
  <Progress name="web" href="https://developer.mozilla.org/docs/Web" />
  <Progress
    name="shell"
    href="https://tiswww.case.edu/php/chet/bash/bashtop.html"
  />
  <Progress
    name="js"
    href="https://developer.mozilla.org/ja/docs/Web/JavaScript"
  />
</div>

<style lang="stylus">
  h2
    text-decoration none
    margin-top 2rem
    margin-bottom 0.25rem
    font-family monospace
    text-align center
  div
    display flex
    flex-direction column
    gap 0.125rem

  @media screen and (min-width: 1024px)
    h2
      margin-top 3rem
      margin-bottom 0.75rem
    div
      gap 0.25rem
</style>
