---
export interface Props {
  label: string;
}

const { label, ...props } = Astro.props;
---

<li data-timeline {...props}>
  <h3 data-timeline-label>{label}</h4>
  <p data-timeline-content><slot /></p>
</li>

<style lang="stylus">
  @import "../styles/api.styl"

  [data-timeline-label]
    position relative
    set-font("sans", "label", 3rem)
    text-shadow 0 0 8px white

    &::before
      position absolute
      content ""
      top 50%
      right calc(100% - var(--point-size) / 2 + var(--timeline-width) / 2)
      translate 0 -50%
      width var(--point-size)
      height var(--point-size)
      background gray
      border-radius 100%

  [data-timeline-content]
    @extend $widget-glassmorphism
    set-font("sans", "normal", "auto")
    padding 1rem

    a
      color var(--link)
      &:hover
        text-decoration underline
</style>
