---
import { Locale, getLangaugeLabel } from "@scripts/lib/locale";

export interface Props {
  locale: Locale;
}

const { locale, ...props } = Astro.props;
---

<p post-title {...props}>{locale.title}</p>
<div post-locales {...props}>
  <a post-link href={locale.slug} {...props}>{getLangaugeLabel(locale.lang)}</a>
</div>
