---
import SparkleText from "@components/SparkleText.astro";
import TimelineList from "@components/TimelineList.astro";
import Timeline from "@components/Timeline.astro";
import Link from "@components/colorless/Link.astro";
import LinkButton from "@components/LinkButton.astro";
import LinkButtonList from "@components/LinkButtonList.astro";
---

<section data-community-section>
  <SparkleText title="Communities">Community for engineers and gamers</SparkleText>
  <TimelineList>
    <Timeline label="2017">
      Everything started from here.
      <Link href="https://line.me/" openInNewTab>LINE</Link> was used.
    </Timeline>
    <Timeline label="2018"> We were only chatting, but we began to work on BOT development. </Timeline>
    <Timeline label="2020">
      The community was migrated to <Link href="https://telegram.org/" openInNewTab>Telegram</Link>. We were worked on
      reverse engineering, etc.
    </Timeline>
    <Timeline label="2022">
      The community was migrated to <Link href="https://discord.com/" openInNewTab>Discord</Link>. We stopped developing
      and only played tv games.
    </Timeline>
    <Timeline label="2024"> The community became more open and got a new name. The name is '74'. </Timeline>
  </TimelineList>
  <LinkButtonList>
    <LinkButton href="https://7rs.dev/74gg" icon="simple-icons:discord" openInNewTab>Join</LinkButton>
    <LinkButton href="https://github.com/74gg" icon="simple-icons:github" openInNewTab>View</LinkButton>
  </LinkButtonList>
</section>

<style lang="stylus">
  @import "../../styles/api.styl"

  [data-sparkle-text]
    margin 5rem 0

    h2, p
      background-image repeating-linear-gradient(135deg,
        rgba(white, 1),
        rgba(192, 192, 192, 1) 2%,
        rgba(white, 1) 5%);
</style>
