---
import SparkleText from "@components/SparkleText.astro";
---

<section>
  <SparkleText title="Cbrnex">Development and TASing</SparkleText>
  <p>
    Developer of Pages. I'm developing OSS, TASing, and playing games.
    The name "Cbrnex" comes from an acronym "CBRNE".
    Sometimes I use "7rs", but my friends call me "Manj".
  </p>
  <!-- <iframe
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/ZkvuNG5sLuk"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe> -->
</section>

<style lang="stylus">
  @import "../../styles/api.styl"

  p
    @extend $glassmorphism
    sans(1.25rem)
</style>
