---
import { Icon } from "astro-icon/components"
---

<section>
  <h2>TAS in SM64 Romhacks</h2>
  <div>
    <article>
      <Icon name="simple-icons:python" />
      <h3>branding</h3>
      <p>Logos by Cbrnex.</p>
    </article>
  </div>
</section>

<style lang="stylus">
  @import "../../styles/api.styl"

  article
    @extend $glassmorphism
</style>
