---
import Links from "../components/Links.astro";
---

<footer>
  <Links />
  <div>
    <a
      href="https://github.com/7rs/my-site"
      target="_blank"
      rel="noopener noreferrer">Source code</a
    >
    <a
      href="http://www.wtfpl.net/about/"
      target="_blank"
      rel="noopener noreferrer">WTFPL</a
    > © 2023 Cbrnex
  </div>
</footer>

<style>
  footer {
    background: rgb(255, 255, 255);
    font-family: monospace;
    opacity: 70%;
  }
  div {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
</style>
