<footer>
  <div class="footer-box">
    <div class="icons">
      <a
        class="youtube"
        href="https://youtube.com/@Cbrnex"
        title="youtube"
        target="_blank"
        rel="noopener noreferrer"></a>
      <a
        class="twitter"
        href="https://twitter.com/Cbrnex"
        title="twitter"
        target="_blank"
        rel="noopener noreferrer"></a>
      <a
        class="pinterest"
        href="https://pinterest.com/Cbrnex"
        title="pinterest"
        target="_blank"
        rel="noopener noreferrer"></a>
      <a
        class="telegram"
        href="https://t.me/Cbrnex"
        title="telegram"
        target="_blank"
        rel="noopener noreferrer"></a>
      <a
        class="discord"
        href="https://discord.gg/GQP8A5kDJV"
        title="discord"
        target="_blank"
        rel="noopener noreferrer"></a>
    </div>
    <div class="credits">
      <a
        href="https://github.com/7rs/pages"
        title="source code"
        target="_blank"
        rel="noopener noreferrer">Source Code</a
      >
      <a
        href="https://github.com/7rs"
        title="github"
        target="_blank"
        rel="noopener noreferrer">© 2023 Cbrnex</a
      >
    </div>
  </div>
</footer>

<style lang="stylus">
  @import "../styles/main"

  footer
    width 100%

  div
    &.footer-box
      @extend .flex-col
      @extend .flex-gap-horizontal
      @extend .static-box
      padding-bottom static-box * 2

    &.icons, .credits
      @extend .flex-row
      justify-content center

    &.credits
      @extend .flex-gap-vertical

    &.credits>a
      @extend .text
      @extend .mono-font

    &.icons
      @extend .flex-gap-vertical

    &.icons>a
      @extend .icon
      &.youtube
        mask-image url("/_astro/brand-icons/youtube.svg"), url("/brand-icons/youtube.svg")
        -webkit-mask-image url("/_astro/brand-icons/youtube.svg"), url("/brand-icons/youtube.svg")
      &.youtubegaming
        mask-image url("/_astro/brand-icons/youtubegaming.svg"), url("/brand-icons/youtubegaming.svg")
        -webkit-mask-image url("/_astro/brand-icons/youtubegaming.svg"), url("/brand-icons/youtubegaming.svg")
      &.github
        mask-image url("/_astro/brand-icons/github.svg"), url("/brand-icons/github.svg")
        -webkit-mask-image url("/_astro/brand-icons/github.svg"), url("/brand-icons/github.svg")
      &.twitter
        mask-image url("/_astro/brand-icons/twitter.svg"), url("/brand-icons/twitter.svg")
        -webkit-mask-image url("/_astro/brand-icons/twitter.svg"), url("/brand-icons/twitter.svg")
      &.pinterest
        mask-image url("/_astro/brand-icons/pinterest.svg"), url("/brand-icons/pinterest.svg")
        -webkit-mask-image url("/_astro/brand-icons/pinterest.svg"), url("/brand-icons/pinterest.svg")
      &.telegram
        mask-image url("/_astro/brand-icons/telegram.svg"), url("/brand-icons/telegram.svg")
        -webkit-mask-image url("/_astro/brand-icons/telegram.svg"), url("/brand-icons/telegram.svg")
      &.discord
        mask-image url("/_astro/brand-icons/discord.svg"), url("/brand-icons/discord.svg")
        -webkit-mask-image url("/_astro/brand-icons/discord.svg"), url("/brand-icons/discord.svg")
    
</style>
