---
export interface Props {
  icons?: string;
}

const { icons = "true" } = Astro.props;
let icons_class = "icons flex-row flex-gap-vertical";
if (icons === "false") {
  icons_class = "hideen-icons";
}
---

<footer>
  <div class="footer-box flex-col flex-gap-horizontal static-box">
    <div class={icons_class}>
      <a
        class="youtube icon"
        href="https://7rs.dev/yt"
        title="youtube"
        target="_blank"
        rel="noopener noreferrer"></a>
      <a
        class="twitter icon"
        href="https://7rs.dev/x"
        title="twitter"
        target="_blank"
        rel="noopener noreferrer"></a>
      <a
        class="pinterest icon"
        href="https://7rs.dev/p"
        title="pinterest"
        target="_blank"
        rel="noopener noreferrer"></a>
      <a
        class="telegram icon"
        href="https://7rs.dev/t"
        title="telegram"
        target="_blank"
        rel="noopener noreferrer"></a>
      <a
        class="discord icon"
        href="https://7rs.dev/d"
        title="discord"
        target="_blank"
        rel="noopener noreferrer"></a>
    </div>
    <div class="credits flex-row flex-gap-vertical">
      <a
        class="text mono-font"
        href="https://7rs.dev/repo"
        title="source code"
        target="_blank"
        rel="noopener noreferrer">Source Code</a
      >
      <a
        class="text mono-font"
        href="https://7rs.dev/gh"
        title="github"
        target="_blank"
        rel="noopener noreferrer">© 2023 Cbrnex</a
      >
    </div>
  </div>
</footer>

<style lang="stylus">
  static-box = 2rem

  footer
    width 100%

  .hideen-icons
    display none

  div
    &.footer-box
      padding-bottom static-box * 2

    &.icons, .credits
      justify-content center

    &.icons>a
      &.youtube
        mask-image url("/_astro/brand-icons/youtube.svg"), url("/brand-icons/youtube.svg")
        -webkit-mask-image url("/_astro/brand-icons/youtube.svg"), url("/brand-icons/youtube.svg")
        &:hover
          background rgb(255, 0, 0)
      &.twitter
        mask-image url("/_astro/brand-icons/twitter.svg"), url("/brand-icons/twitter.svg")
        -webkit-mask-image url("/_astro/brand-icons/twitter.svg"), url("/brand-icons/twitter.svg")
        &:hover
          background rgba(0, 0, 0, 0.5)
      &.pinterest
        mask-image url("/_astro/brand-icons/pinterest.svg"), url("/brand-icons/pinterest.svg")
        -webkit-mask-image url("/_astro/brand-icons/pinterest.svg"), url("/brand-icons/pinterest.svg")
        &:hover
          background rgb(189, 8, 28)
      &.telegram
        mask-image url("/_astro/brand-icons/telegram.svg"), url("/brand-icons/telegram.svg")
        -webkit-mask-image url("/_astro/brand-icons/telegram.svg"), url("/brand-icons/telegram.svg")
        &:hover
          background rgb(38, 165, 228)
      &.discord
        mask-image url("/_astro/brand-icons/discord.svg"), url("/brand-icons/discord.svg")
        -webkit-mask-image url("/_astro/brand-icons/discord.svg"), url("/brand-icons/discord.svg")
        &:hover
          background rgb(88, 101, 242)
</style>
