---
import Link from "@components/colorless/Link.astro";
import LinkIcon from "@components/colorless/LinkIcon.astro";
import LabeledIcon from "@components/colorless/LabeledIcon.astro";
---

<footer data-main-footer>
  <Link href="https://creativecommons.org/public-domain/cc0" title="CC0 1.0" openInNewTab>
    <LabeledIcon icon="pages-icon">Licensed by CC0</LabeledIcon>
  </Link>
  <div data-social-icons>
    <LinkIcon icon="simple-icons:youtube" href="https://youtube.com/@qrze" title="YouTube (@qlze)" openInNewTab />
    <LinkIcon icon="simple-icons:github" href="https://github.com/7rs" title="GitHub (@7rs)" openInNewTab />
    <LinkIcon icon="simple-icons:zenn" href="https://zenn.dev/p/74" title="Zenn (74)" openInNewTab />
    <LinkIcon icon="simple-icons:patreon" href="https://patreon.com/7rs" title="Patreon (@7rs)" openInNewTab />
    <LinkIcon icon="simple-icons:discord" href="https://7rs.dev/discord" title="Discord Server" openInNewTab />
    <LinkIcon icon="simple-icons:rss" href="/rss.xml" title="RSS" openInNewTab />
  </div>
</footer>

<style lang="stylus">
  @import "../styles/api.styl"

  [data-main-footer]
    z-index 1
    position relative
    bottom 0
    box-sizing border-box
    responsive-padding(x: 1rem, y: 1rem)
    width 100%

    flex(column, 1.5rem)
    @media screen and (min-width widths.large)
      flex(justify-content: space-between)

    &::before
      @extend $layout-glassmorphism
      set-absolute()
      z-index -1

  [data-labeled-icon]
    sans(1.5rem, 1.5rem)
    flex(justify-content: center)
    @media screen and (min-width widths.medium)
      sans(1.75rem, 1.75rem)
    @media screen and (min-width widths.large)
      flex(justify-content: flex-start)

    &:hover
      text-decoration underline

  [data-social-icons]
    flex(_gap: 1.25rem, justify-content: center)
    @media screen and (min-width widths.medium)
      flex(_gap: 1.5rem, justify-content: center)

    [data-icon]
      @extend $zoomable-icon
      height 100%
      font-size 1.5rem
      @media screen and (min-width widths.medium)
        font-size 1.75rem
</style>
