<footer>
  <div class="footer-box">
    <div class="icons">
      <a
        class="youtube"
        href="https://youtube.com/@Cbrnex"
        rel="noopener noreferrer"></a>
      <a
        class="youtubegaming"
        href="https://youtube.com/@QRZE"
        rel="noopener noreferrer"></a>
      <a class="github" href="https://github.com/7rs" rel="noopener noreferrer"
      ></a>
      <a
        class="twitter"
        href="https://twitter.com/Cbrnex"
        rel="noopener noreferrer"></a>
      <a
        class="pinterest"
        href="https://pinterest.com/Cbrnex"
        rel="noopener noreferrer"></a>
      <a class="telegram" href="https://t.me/Cbrnex" rel="noopener noreferrer"
      ></a>
      <a
        class="discord"
        href="https://discord.gg/GQP8A5kDJV"
        rel="noopener noreferrer"></a>
    </div>
    <div class="credits">
      <a
        class="credit"
        href="https://github.com/7rs/my-site"
        target="_blank"
        rel="noopener noreferrer">Code</a
      >
      <a
        class="credit"
        href="http://www.wtfpl.net/about/"
        target="_blank"
        rel="noopener noreferrer">WTFPL</a
      >
      <span class="credit">© 2023 Cbrnex</span>
    </div>
  </div>
</footer>
<style lang="stylus">
  @import "../styles/main"

  footer
    width 100%
    margin-top auto

  .footer-box
    @extend .flex-col
    @extend .flex-gap
    @extend .static-box

  .icons, .credits
    @extend .flex-row
    @extend .flex-gap
    justify-content center

  .credit
    @extend .text-box
    text-decoration none

  .youtube
    @extend .icon
    background-image url("/_astro/brand-icons/youtube.svg"), url("/brand-icons/youtube.svg")
  .youtubegaming
    @extend .icon
    background-image url("/_astro/brand-icons/youtubegaming.svg"), url("/brand-icons/youtubegaming.svg")
  .github
    @extend .icon
    background-image url("/_astro/brand-icons/github.svg"), url("/brand-icons/github.svg")
  .twitter
    @extend .icon
    background-image url("/_astro/brand-icons/twitter.svg"), url("/brand-icons/twitter.svg")
  .pinterest
    @extend .icon
    background-image url("/_astro/brand-icons/pinterest.svg"), url("/brand-icons/pinterest.svg")
  .telegram
    @extend .icon
    background-image url("/_astro/brand-icons/telegram.svg"), url("/brand-icons/telegram.svg")
  .discord
    @extend .icon
    background-image url("/_astro/brand-icons/discord.svg"), url("/brand-icons/discord.svg")
</style>
