---
import Brand from "@components/Brand.astro";
import SocialList from "@components/footer/SocialList.astro";
import NavigationItem from "@components/footer/NavigationItem.astro";
import NavigationHeader from "@components/footer/NavigationHeader.astro";
---

<footer>
  <div class="summary">
    <Brand name="pAges" />
    <p>Fast and simple design website.</p>
    <p>©2024 by Cbrnex.</p>
  </div>
  <div class="social-list"><SocialList openWithNewTab /></div>
  <nav class="pages-nav">
    <NavigationHeader iconName="logo" description="Pages navigation">Pages</NavigationHeader>
    <NavigationItem label="Main" url="/" description="Main page" />
  </nav>
  <nav class="resource-nav">
    <NavigationHeader iconName="material-symbols:info-outline-rounded" description="Resource navigation">
      Resources
    </NavigationHeader>
    <NavigationItem label="Repository" url="https://7rs.dev/repo" description="Main page" />
    <NavigationItem label="Wiki" url="https://github.com/7rs/pages/wiki" description="Main page" />
    <NavigationItem label="License" url="https://github.com/7rs/pages/blob/main/LICENSE" description="License" />
    <NavigationItem label="Scraps" url="https://zenn.dev/7rs/scraps/d31d814237ec1c" description="License" />
    <NavigationItem label="Stacks" url="https://stackshare.io/7rs/pages" description="License" />
  </nav>
</footer>

<style lang="stylus">
  @import "../styles/api.styl"

  footer
    width 100vw
    padding 1rem
    display grid
    gap 1rem 0
    grid-template-areas \
      "summary    " \
      "social-list";
    @media screen and (min-width widths.medium)
      grid-template-rows 2fr 5fr
      grid-template-columns 3fr 1fr
      grid-template-areas \
      "summary     resource-nav" \
      "social-list resource-nav";
    @media screen and (min-width widths.large)
      grid-template-rows 2fr 5fr
      grid-template-columns 3fr repeat(2, 1fr)
      grid-template-areas \
      "summary     pages-nav resource-nav" \
      "social-list pages-nav resource-nav";

    .summary
      grid-area summary

    .social-list
      grid-area social-list
      display grid
      gap 1rem 2rem
      justify-content center
      grid-template-columns repeat(5, heights.icon.small)
      @media screen and (min-width widths.medium)
        grid-template-columns repeat(6, heights.icon.small)
        justify-content start
      @media screen and (min-width widths.large)
        gap 0 1.75rem
        grid-template-columns repeat(7, heights.icon.large)
      @media screen and (min-width widths.largest)
        grid-template-columns repeat(8, heights.icon.large)

    .pages-nav, .resource-nav
      display none
      @media screen and (min-width widths.large)
        display flex
        flex-direction column
        width 100%
        height 100%
        gap 1rem

    .pages-nav
      grid-area pages-nav

    .resource-nav
      grid-area resource-nav
      @media screen and (min-width widths.medium)
        display flex
        flex-direction column
        width 100%
        height 100%
        gap 1rem
</style>
