---
import Links from "../components/Links.astro";
---

<footer class="w-full bg-white font-mono opacity-70">
  <Links />
  <div class="text-center py-8">
    <a
      href="https://github.com/7rs/my-site"
      target="_blank"
      rel="noopener noreferrer">Source code</a
    >
    <a
      class="ml-4"
      href="http://www.wtfpl.net/about/"
      target="_blank"
      rel="noopener noreferrer">WTFPL</a
    > © 2023 Cbrnex
  </div>
</footer>

<style></style>
