---
import { Icon } from "astro-icon/components";

import LinkIcon from "@components/icon/LinkIcon.astro";
import Search from "@components/Search.astro"
import ThemeSvelte from "@layouts-components/header/Theme.svelte"
// import ThemeQwik from "@components/layouts/header/theme.tsx"
---

<header>
  <LinkIcon icon="pages-logo" href="/" title="Main page" />
  <Search />
  <nav action-buttons>
    <ThemeSvelte client:only />
    <Icon name="material-symbols:menu" />
  </nav>
</header>

<style lang="stylus">
  @import "../styles/api.styl"

  header
    z-index 1
    position sticky
    top 0
    responsive-padding(x: 1rem, y: 0.5rem)
    flex(_gap: 1rem)
    justify-content space-between
    @media screen and (min-width widths.large)
      justify-content center
    &::before
      @extend $simple-blur
      z-index -1

  svg[data-icon]
    line-height 3rem

  svg[data-icon="pages-logo"]
    font-size 3rem

  nav[action-buttons]
    align-items center
    justify-content flex-end
    flex(_gap: 1.25rem)
    @media screen and (min-width widths.medium)
      flex(_gap: 1.75rem)

    svg, svg[data-icon]
      color var(--content)
      font-size 2rem

    /* For Qwik (Iconify doesn't support Qwik directly.)

    div
      height 2rem
      width 2rem

      background var(--content)
      mask-size 100%
      mask-repeat no-repeat
      mask-position center

      &.system
        mask-image url("https://api.iconify.design/material-symbols/computer-outline-sharp.svg")

      &.light-mode
        mask-image url("https://api.iconify.design/material-symbols/light-mode-outline.svg")

      &.dark-mode
        mask-image url("https://api.iconify.design/material-symbols/dark-mode.svg")

    */
</style>
