---
import { Icon } from "astro-icon/components";

import LinkIcon from "@components/LinkIcon.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.svelte"


const { ...props} = Astro.props;
---

<header data-main-header {...props}>
  <LinkIcon icon="pages-logo" href="/" title="Main page" />
  <nav action-buttons>
    <LinkIcon icon="material-symbols:search" href="/blog" title="blog search" />
    <ThemeSwitcher client:only="svelte" />
    <Icon name="material-symbols:menu" />
  </nav>
</header>

<style lang="stylus">
  @import "../styles/api.styl"

  header
    z-index 1
    position sticky
    top 0
    responsive-padding(x: 1rem, y: 0.5rem)
    flex(_gap: 1rem)
    justify-content space-between
    &::before
      @extend $simple-blur
      z-index -1

  svg[data-icon]
    line-height 3rem

  svg[data-icon="pages-logo"]
    font-size 3rem

  nav[action-buttons]
    align-items center
    justify-content flex-end
    flex(_gap: 1.25rem)
    @media screen and (min-width widths.medium)
      flex(_gap: 1.75rem)

    svg, svg[data-icon]
      color var(--content)
      font-size 2rem
      &:hover
        transition all 100ms ease-out
        transform scale(125%)

    svg[data-icon="material-symbols:search"]
      display none
      @media screen and (min-width widths.medium)
        display block
</style>
