---
import LinkIcon from "@components/LinkIcon.astro";
import ThemeSwitcher from "@components/header/ThemeSwitcher.svelte";
import Menu from "@components/header/Menu.svelte";

const { ...props } = Astro.props;
---

<header data-main-header {...props}>
  <LinkIcon icon="pages-logo" href="/" title="Main page" />
  <nav data-header-buttons>
    <ThemeSwitcher client:only="svelte" />
    <LinkIcon icon="line-md:search" href="/blog" title="blog search" />
    <Menu client:only="svelte" />
  </nav>
</header>

<style lang="stylus">
  @import "../styles/api.styl"

  [data-main-header]
    z-index 1
    position sticky
    top 0
    responsive-padding(x: 1rem, y: 0.5rem)
    flex(_gap: 1rem, justify-content: space-between)
    &::before
      @extend $simple-blur
      z-index -1

  [data-link-icon]
    font-size 3rem

  [data-header-buttons]
    align-items center
    flex(_gap: 1.25rem, justify-content: flex-end)
    @media screen and (min-width widths.medium)
      flex(_gap: 1.75rem)

    svg
      hoverable()
      color var(--content)
      font-size 2rem
      display none
      @media screen and (min-width widths.medium)
        display block

    [data-menu-button] > svg
      display block
</style>
