---
import { Icon } from "astro-icon/components";

// Pagefind
import Search from "@components/Search.astro"
---

<header>
  <Icon name="pages" />
  <Search />
  <nav>
    <Icon name="material-symbols:wb-sunny-outline" />
    <Icon name="material-symbols:menu" />
  </nav>
</header>

<style lang="stylus">
  @import "../styles/api.styl"

  header
    z-index 1
    position sticky
    top 0
    responsive-padding(x: 0.5rem, y: 0.5rem)
    // Grid layout
    display grid
    grid-template-columns auto 1fr auto
    gap 3rem

    &::before
      z-index -1
      background-blur()
      width 100%

  svg[data-icon]
    line-height 100%

  svg[data-icon="pages"]
    font-size 3rem

  nav
    display flex
    align-items center
    justify-content flex-end
    gap 1.5rem
    @media screen and (min-width widths.medium)
      gap 2rem

    svg[data-icon]
      font-size 1.75rem
      @media screen and (min-width widths.medium)
        font-size 2rem
</style>
