---
import Navigation from "@components/header/Navigation.astro";
import Brand from "@components/Brand.astro";
---
<header>
  <div class="header">
    <Brand>pAges</Brand>
    <Navigation />
  </div>
</header>

<style lang="stylus">
  @import "../styles/api.styl"

  header, div
    z-index 1
    top 0
    position sticky
    height sizes.header-height

  div.header
    display flex
    padding 0 1rem
</style>
