---
import { Icon } from "astro-icon/components";

import LinkIcon from "@components/LinkIcon.astro";
import ThemeSvelte from "@layouts-components/header/Theme.svelte"

const props = Astro.props;
---

<header main-header {...props}>
  <LinkIcon icon="pages-logo" href="/" title="Main page" />
  <nav action-buttons>
    <LinkIcon icon="material-symbols:search" href="/blog" title="blog search" />
    <ThemeSvelte client:only />
    <Icon name="material-symbols:menu" />
  </nav>
</header>

<style lang="stylus">
  @import "../styles/api.styl"

  header
    z-index 1
    position sticky
    top 0
    responsive-padding(x: 1rem, y: 0.5rem)
    flex(_gap: 1rem)
    justify-content space-between
    &::before
      @extend $simple-blur
      z-index -1

  svg[data-icon]
    line-height 3rem

  svg[data-icon="pages-logo"]
    font-size 3rem

  nav[action-buttons]
    align-items center
    justify-content flex-end
    flex(_gap: 1.25rem)
    @media screen and (min-width widths.medium)
      flex(_gap: 1.75rem)

    svg, svg[data-icon]
      color var(--content)
      font-size 2rem
      &:hover
        transition all 100ms ease-out
        transform scale(125%)

    svg[data-icon="material-symbols:search"]
      display none
      @media screen and (min-width widths.medium)
        display block

    /* For Qwik (Iconify doesn't support Qwik directly.)

    div
      height 2rem
      width 2rem

      background var(--content)
      mask-size 100%
      mask-repeat no-repeat
      mask-position center

      &.system
        mask-image url("https://api.iconify.design/material-symbols/computer-outline-sharp.svg")

      &.light-mode
        mask-image url("https://api.iconify.design/material-symbols/light-mode-outline.svg")

      &.dark-mode
        mask-image url("https://api.iconify.design/material-symbols/dark-mode.svg")

    */
</style>
