<header>
  <div class="flex-row box">
    <a class="logo static-icon" href="/" title="top"></a>
    <nav class="flex-row static-flex-gap">
      <a class="links static-icon" href="/links" title="links"></a>
      <a class="blog static-icon" href="/blog" title="blog"></a>
      <a class="tech static-icon" href="https://zenn.dev/7rs" title="tech"></a>
    </nav>
  </div>
</header>

<style lang="stylus">
  header
    position fixed
    top 0
    left 0
    z-index 1
    width 100%

  .logo
    mask-image url("/_astro/logo.svg"), url("/logo.svg")
    -webkit-mask-image url("/_astro/logo.svg"), url("/logo.svg")

  nav
    a

      &.links
        mask-image url("/_astro/icons/links.svg"), url("/icons/links.svg")
        -webkit-mask-image url("/_astro/icons/links.svg"), url("/icons/links.svg")
      &.blog
        mask-image url("/_astro/icons/blog.svg"), url("/icons/blog.svg")
        -webkit-mask-image url("/_astro/icons/blog.svg"), url("/icons/blog.svg")
      &.tech
        mask-image url("/_astro/icons/tech.svg"), url("/icons/tech.svg")
        -webkit-mask-image url("/_astro/icons/tech.svg"), url("/icons/tech.svg")
</style>
