<header>
  <div class="header-box">
    <a class="title">Cbrnex</a>
    <nav>
      <a class="nav-item links" href="/links"></a>
      <a class="nav-item blog" href="/blog"></a>
      <a class="nav-item tech" href="https://zenn.dev/7rs"></a>
    </nav>
  </div>
</header>

<style lang="stylus">
  @import "../styles/main"

  header
    position fixed
    top 0
    left 0
    width 100%

  .header-box
    @extend .static-box
    @extend .flex-row

  a
    text-decoration none
    color black
    font-size item-size
    @media (min-width wide-screen)
      font-size wide-item-size

  .title
    flex-grow 1
    flex-basis 25%

  nav
    @extend .flex-row
    @extend .flex-gap
    @media (min-width wide-screen)
      gap static-spacing

  .nav-item
    @media (max-width narrow-screen)
      height item-size
      width item-size
      &.links
        background url("icons/links.svg") 0%/100% no-repeat
      &.blog
        background url("icons/blog.svg") 0%/100% no-repeat
      &.tech
        background url("icons/tech.svg") 0%/100% no-repeat

    @media (min-width wide-screen)
      text-align center
      &:hover
        color red
      &.links:after
        content "Link"
      &.blog:after
        content "Blog"
      &.tech:after
        content "Tech"
</style>
