---
import logo from "@assets/logo.svg";
import links from "@assets/icons/links.svg";
import tech from "@assets/icons/tech.svg";

import Icon from "@components/Icon.astro";
---

<header class="flex-row blur-background">
  <Icon src={logo.src} title="top" href="/" />
  <nav class="flex-row header-nav-gap">
    <Icon src={links.src} title="links" href="/links" />
    <Icon src={tech.src} title="tech" href="https://7rs.dev/z" blank />
  </nav>
</header>

<style lang="stylus">
  tablet-screen = 600px

  header
    position fixed
    top 0
    left 0
    z-index 1
</style>
