---
import Gradient from "./Gradient.astro";
import GradientLink from "./GradientLink.astro";
---

<header>
    <nav>
        <div class="logo">
            <h1><Gradient style="rainbow crop">Cbrnex</Gradient></h1>
        </div>
        <div
            class="items"
        >
            <a class="links" href="/links">
                <img src="icons/links.svg" alt="links" />
            </a>
            <a class="blog" href="/blog">
                <img src="icons/blog.svg" alt="blog" />
            </a>
            <a class="tech" href="https://zenn.dev/7rs">
                <img src="icons/tech.svg" alt="tech" />
            </a>
        </div>
    </nav>
</header>

<style>
    header {
        background: rgb(255, 255, 255);
        font-family: monospace;
        opacity: 70%;
    }

    nav {
        width: 100%;
        height: 4rem;
        max-height: 4rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        flex-basis: 25%;
        font-size: 1.5rem;
    }

    .items {
        justify-self: end;
        display: flex;
        font-size: 1.125rem;
        gap: 2rem;
    }

    .links:after {
        content: "";
    }
    .blog:after {
        content: "";
    }
    .tech:after {
        content: "";
    }
    @media (min-width: 1024px) {
        div > a > img {
            display: none;
        }
        .links:after {
            content: "Link";
        }
        .blog:after {
            content: "Blog";
        }
        .tech:after {
            content: "Tech";
        }
    }
</style>
