---
import Navigation from "@components/header/Navigation.astro";
import Brand from "@components/Brand.astro";

import { Icon } from "astro-icon/components";

import Search from "@components/Search.astro"
---

<header>
  <div class="header">
    <Brand />
    <Search />
    <Navigation />
  </div>
</header>

<style lang="stylus">
  @import "../styles/api.styl"

  header, div
    z-index 1
    top 0
    position sticky
    height sizes.header-height

  div.header
    display flex
    padding 0 1rem
    gap 1rem
    justify-content space-between
</style>
