---
import { Icon } from "astro-icon/components";

import ThemeSvelte from "@layouts-components/header/Theme.svelte"
import ThemeQwik from "@layouts-components/header/theme"

import LinkIcon from "@components/icon/LinkIcon.astro";
import Search from "@components/Search.astro"
---

<header>
  <LinkIcon icon="pages-logo" href="/" title="Main page" />
  <Search />
  <nav>
    <ThemeQwik />
    <Icon name="material-symbols:menu" />
  </nav>
</header>

<style lang="stylus">
  @import "../styles/api.styl"

  header
    z-index 1
    position sticky
    top 0
    responsive-padding(x: 0.5rem, y: 0.5rem)
    // Grid layout
    display grid
    grid-template-columns auto 1fr auto
    gap 3rem

    &::before
      @extend $simple-blur
      z-index -1

  svg[data-icon]
    line-height 100%

  svg[data-icon="pages-logo"]
    font-size 3rem

  nav
    display flex
    align-items center
    justify-content flex-end
    gap 1.5rem
    @media screen and (min-width widths.medium)
      gap 2rem

    svg[data-icon], svg
      font-size 1.75rem
      @media screen and (min-width widths.medium)
        font-size 2rem

    div
      height 1.75rem
      width 1.75rem
      @media screen and (min-width widths.medium)
        height 2rem
        width 2rem

      background var(--content)
      mask-size 100%
      mask-repeat no-repeat
      mask-position center

    div.system
      mask-image url("/system.svg")

    div.light-mode
      mask-image url("/light-mode.svg")

    div.dark-mode
      mask-image url("/dark-mode.svg")
</style>
