---
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";

import logo from "@assets/logo.svg";

import "@styles/main.styl"

export interface Props {
  title: string;
}

const { title} = Astro.props;

function createFontURL(fonts: Array<string>): string {
  return `https://fonts.googleapis.com/css2?family=${fonts.join("&family=").replace(/\s/g, "+")}&display=swap`;
}

const fonts: Array<string> = ["Fira Sans", "Fira Code"];
const cjkFonts: Array<string> = [...fonts, "BIZ UDPMincho", "BIZ UDPGothic", "Zen Kaku Gothic New", "BIZ UDGothic"];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="7rs.dev" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={logo.src} type="image/svg+xml" />
    <title>{title}</title>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href={createFontURL(cjkFonts)} rel="stylesheet" as="style" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&text=CbrneXpAgs" as="style" crossorigin="">
  </head>

  <body>
    <Header />
    <main><slot /></main>
    <Footer />
  </body>
</html>
