---
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";

import logo from "@assets/logo.svg";

import "@styles/main.styl";

import Head from "@layouts/Meta.astro";
import { Metadata } from "@lib/meta";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const metadata: Metadata = {
  name: "Pages",
  description: "Fast and simple website.",
  image: logo.src,
  imageAlt: "Cbrnex Logo",
  author: "Cbrnex",
  url: "https://7rs.dev/",
  keywords: [
    "Pages",
    "Cbrnex",
    "7rs",
    "Rynon",
    "卍",
    "卍SRSU",
    "Astro",
    "Stylus",
    "Svelte",
    "Cloudflare Pages",
    "FLOSS",
  ],
  twitterId: "@cbrnex",
};
---

<!doctype html>
<html lang="en">
  <Head title={title} favicon={logo.src} metadata={metadata}>
    <!-- https://developers.google.com/search/docs/appearance/structured-data/article -->
    <script type="application/ld+json">
      {
        "@context": "https://7rs.dev/",
        "@type": "Website",
        "name": "Pages",
        "author": {
          "@type": "Person",
          "name": "Cbrnex"
        },
        "description": "Fast and simple website."
      }
    </script>
  </Head>

  <body>
    <Header />
    <main><slot /></main>
    <Footer />
  </body>
</html>
