---
import "@styles/main-layout.styl";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

import logo from "@assets/logo.svg";

export interface Props {
  title: string;
  hiddenIcons?: boolean;
}

const { title, hiddenIcons = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="7rs.dev" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={logo.src} type="image/svg+xml" />
    <title>{title}</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Fira+Code&display=swap"
      as="style"
      crossorigin
    />
  </head>
  <body>
    <Header />
    <slot />
    {hiddenIcons ? <Footer hiddenIcons  /> : <Footer />}
  </body>
</html>
