---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Cbrnex's website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="stylus">
  @import "../styles/main"

  body
    margin 0
    padding 0
    display flex
    flex-direction column
    min-height 100vh
    background linear-gradient(70deg,
      rgb(66, 165, 245),
      rgb(171, 71, 188),
      rgb(239, 83, 80),
      rgb(171, 71, 188),
      rgb(66, 165, 245)) no-repeat center/cover

  main
    @extend .main-box
    position relative
    border-radius 1rem
    @media screen and (max-width narrow-screen)
      width narrow-width
      margin header-height+main-spacing auto footer-height+main-spacing
    @media screen and (min-width wide-screen)
      width wide-width
      margin header-height+main-spacing auto wide-footer-height+main-spacing

  // Markdown Styles
  main
    @extend .text-box
    font-family monospace
</style>
